In [1]:
import numpy as np
from numpy.linalg import inv
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
# Question department = systems, age = 26-30, salary = 46-50, status = ?
data = pd.read_csv('NaiveBayesExample.csv')
data

   department  status    age  salary  count
0       sales  senior  31-35  46-50k     30
1       sales  junior  26-30  26-30k     40
2       sales  junior  31-35  31-35k     40
3     systems  junior  21-25  46-50k     20
4     systems  senior  31-35  66-70k      5
5     systems  junior  26-30  46-50k      3
6     systems  senior  41-45  66-70k      3
7   marketing  senior  36-40  46-50k     10
8   marketing  junior  31-35  41-45k      4
9   secretary  senior  46-50  36-40k      4
10  secretary  junior  26-30  26-30k      6

In [36]:
P_status_senior = data[data['status'] == 'senior']['count'].sum() / data['count'].sum()
P_status_junior = data[data['status'] == 'junior']['count'].sum() / data['count'].sum()
P_status_senior

0.3151515151515151

In [32]:
# Departmnet [sales, systems, marketing, secretary]

senior_count = data[data['status'] == 'senior']['count'].sum()
P_sales_senior = data.loc[(data['department'] == 'sales') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_systems_senior = data.loc[(data['department'] == 'systems') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_marketing_senior = data.loc[(data['department'] == 'marketing') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_secretary_senior = data.loc[(data['department'] == 'secretary') & (data['status'] == 'senior')]['count'].sum() / senior_count

junior_count = data[data['status'] == 'junior']['count'].sum()
P_sales_junior = data.loc[(data['department'] == 'sales') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_systems_junior = data.loc[(data['department'] == 'systems') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_marketing_junior = data.loc[(data['department'] == 'marketing') & (data['status'] == 'junior')]['count'].sum()  / junior_count
P_secretary_junior = data.loc[(data['department'] == 'secretary') & (data['status'] == 'junior')]['count'].sum() / junior_count

# Intereset only P_systems_senior and P_systems_junior follow the question.

In [38]:
# Age

P_21_25_senior = data.loc[(data['age'] == '21-25') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_26_30_senior = data.loc[(data['age'] == '26-30') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_31_35_senior = data.loc[(data['age'] == '31-35') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_36_40_senior = data.loc[(data['age'] == '36-40') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_41_45_senior = data.loc[(data['age'] == '41-45') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_46_50_senior = data.loc[(data['age'] == '46-50') & (data['status'] == 'senior')]['count'].sum() / senior_count

P_21_25_junior = data.loc[(data['age'] == '21-25') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_26_30_junior = data.loc[(data['age'] == '26-30') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_31_35_junior = data.loc[(data['age'] == '31-35') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_36_40_junior = data.loc[(data['age'] == '36-40') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_41_45_junior = data.loc[(data['age'] == '41-45') & (data['status'] == 'junior')]['count'].sum() / junior_count
P_46_50_junior = data.loc[(data['age'] == '46-50') & (data['status'] == 'junior')]['count'].sum() / junior_count

# Intereset only P_26_30_senior and P_26_30_junior follow the question.

In [39]:
# Salary

P_salary_46_50_senior = data.loc[(data['salary'] == '46-50k') & (data['status'] == 'senior')]['count'].sum() / senior_count
P_salary_46_50_junior = data.loc[(data['salary'] == '46-50k') & (data['status'] == 'junior')]['count'].sum() / junior_count

# Intereset only P_salary_46_50_senior and P_salary_46_50_junior follow the question.

In [43]:
# Consider P(senior | systems, 26-30, 46-50k)
P_senior_ans = P_status_senior * P_systems_senior * P_26_30_senior * P_salary_46_50_senior

# Consider P(junior | systems, 26-30, 46-50k)
P_junior_ans = P_status_junior * P_systems_junior * P_26_30_junior * P_salary_46_50_junior

# P_junior_ans มีความน่าจะเป็นมากสุดจึงได้คำตอบว่า status = junior
print(P_senior_ans, P_junior_ans)

0.0 0.012302997078625555

In [44]:
# P_senior_ans = 0 มีวิธีป้องกันไม่ให้ผลพยากรณ์เป็น 0
# วิธีที่ 1 ให้บวกทุก P() ด้วยค่าเล็กๆ โดยใช้ 1/เลขที่เยอะสุดใน P()
# ในตัวอย่างเลขเยอะสุดคือ 165 ดังนั้นใช้ 1/165 จะได้

x = 1/165
P_senior_ans = (P_status_senior+x) * (P_systems_senior+x) * (P_26_30_senior+x) * (P_salary_46_50_senior+x)
P_senior_ans

0.00024134580663891572

In [47]:
# วิธีที่ 2 take log ใช้กรณีเลขติดทศนิยมมากจน memory ไม่พอจนโดนปัดลง
np.log(P_senior_ans), np.log(P_junior_ans)

(-8.329279770614406, -4.397912381356336)