In [1]:
import numpy as np
import pandas as pd

In [4]:
a = pd.Series(data=[10, 20, 30])
a

0    10
1    20
2    30
dtype: int64

In [5]:
b = pd.DataFrame([2, 4, 6])
b

   0
0  2
1  4
2  6

In [6]:
type(a)

pandas.core.series.Series

In [7]:
type(b)

pandas.core.frame.DataFrame

In [8]:
arr = np.array([10, 20, 30])
arr

array([10, 20, 30])

In [9]:
type(arr)

numpy.ndarray