In [1]:
import pandas_ta as ta
import pandas as pd
import yfinance as yf

In [2]:
tickers = "PTT.BK KBANK.BK EA.BK COM7.BK RCL.BK"
data = yf.download(tickers=tickers, period='1y', interval='1d', group_by='column')

[*********************100%***********************]  5 of 5 completed

In [3]:
data.head(10)

            Adj Close                                              Close  \
              COM7.BK      EA.BK   KBANK.BK     PTT.BK    RCL.BK COM7.BK
Date
2020-10-19  39.220001  41.540379  69.165863  30.906296  5.115122   39.75
2020-10-20  39.466667  40.296654  71.609886  30.668556  5.019512   40.00
2020-10-21  39.959999  40.545399  74.053909  30.668556  5.258537   40.50
2020-10-22  43.413334  40.794144  73.565102  30.668556  5.593171   44.00
2020-10-26  43.413334  40.545399  72.831902  30.668556  5.640976   44.00
2020-10-27  42.673332  39.799164  72.587494  30.430815  5.880001   43.25
2020-10-28  42.426666  39.550419  73.320702  29.955334  5.927805   43.00
2020-10-29  40.946667  39.052929  74.787117  29.479853  6.166830   41.50
2020-10-30  40.453335  37.809204  74.542717  29.479853  6.166830   41.00
2020-11-02  40.453335  38.306694  74.787117  29.479853  6.358049   41.00

                                          ...    Open                         \
            EA.BK KBANK.BK PTT.BK RCL.BK  ... COM7.BK  EA.BK KBANK.BK PTT.BK
Date                                      ...
2020-10-19  41.75    70.75  32.50   5.35  ...   40.00  41.00    73.00  32.50
2020-10-20  40.50    73.25  32.25   5.25  ...   39.75  41.50    71.75  32.00
2020-10-21  40.75    75.75  32.25   5.50  ...   40.00  41.25    74.50  32.25
2020-10-22  41.00    75.25  32.25   5.85  ...   41.50  41.00    75.25  32.00
2020-10-26  40.75    74.50  32.25   5.90  ...   43.75  41.00    75.50  32.00
2020-10-27  40.00    74.25  32.00   6.15  ...   44.00  40.00    74.50  31.75
2020-10-28  39.75    75.00  31.50   6.20  ...   43.50  39.50    74.75  31.75
2020-10-29  39.25    76.50  31.00   6.45  ...   42.75  39.50    74.25  31.00
2020-10-30  38.00    76.25  31.00   6.45  ...   41.75  39.50    76.25  31.00
2020-11-02  38.50    76.50  31.00   6.65  ...   41.25  38.00    76.00  31.00

                     Volume
           RCL.BK   COM7.BK    EA.BK  KBANK.BK    PTT.BK    RCL.BK
Date
2020-10-19   4.78   6619600  6588700  25974800  37145300   5138000
2020-10-20   5.25   8072600  6844700  25171600  54014500   2509000
2020-10-21   5.35   4809000  6250900  37083200  49705800   1448600
2020-10-22   5.60  17817000  3998900  16607100  38068700  10275000
2020-10-26   5.75   7086900  2990100  10842000  32681300   3786800
2020-10-27   5.85   5010900  4075300  19190700  47632800   5234700
2020-10-28   6.25   3901200  6813600  15392700  51605900   4364100
2020-10-29   6.20  10334500  8160000  19818900  52314400  23489100
2020-10-30   6.45   6822300  8638600  20199300  56732200   3136700
2020-11-02   6.50   6091900  7863300  12113600  30857500   4059700

[10 rows x 30 columns]

In [5]:
data.swaplevel(0, axis=1) # show column Adj Close, Adj Open. Close, Open, Volume  in each stock

,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,...,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2020-10-19,39.220001,41.540379,69.165863,30.906296,5.115122,39.75,41.75,70.75,32.50,5.35,...,40.00,41.00,73.00,32.50,4.78,6619600,6588700,25974800,37145300,5138000
2020-10-20,39.466667,40.296654,71.609886,30.668556,5.019512,40.00,40.50,73.25,32.25,5.25,...,39.75,41.50,71.75,32.00,5.25,8072600,6844700,25171600,54014500,2509000
2020-10-21,39.959999,40.545399,74.053909,30.668556,5.258537,40.50,40.75,75.75,32.25,5.50,...,40.00,41.25,74.50,32.25,5.35,4809000,6250900,37083200,49705800,1448600
2020-10-22,43.413334,40.794144,73.565102,30.668556,5.593171,44.00,41.00,75.25,32.25,5.85,...,41.50,41.00,75.25,32.00,5.60,17817000,3998900,16607100,38068700,10275000
2020-10-26,43.413334,40.545399,72.831902,30.668556,5.640976,44.00,40.75,74.50,32.25,5.90,...,43.75,41.00,75.50,32.00,5.75,7086900,2990100,10842000,32681300,3786800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-08,72.250000,63.000000,140.000000,39.750000,46.250000,72.25,63.00,140.00,39.75,46.25,...,72.25,62.25,142.00,39.75,44.00,8079800,10907600,32605900,25810400,11281700
2021-10-11,71.500000,62.500000,138.500000,40.000000,44.000000,71.50,62.50,138.50,40.00,44.00,...,73.00,63.25,141.00,40.00,46.00,4384100,8924100,32455300,58294200,9994800
2021-10-12,71.750000,64.000000,140.500000,40.000000,44.250000,71.75,64.00,140.50,40.00,44.25,...,71.75,63.00,140.50,40.00,44.25,6170900,9870300,21075700,40520000,4481500
2021-10-14,72.000000,64.000000,140.500000,39.500000,41.500000,72.00,64.00,140.50,39.50,41.50,...,72.00,64.00,141.50,39.75,44.25,5524500,8836200,20049000,51400700,13631000
2021-10-15,72.250000,63.500000,142.500000,39.250000,39.500000,72.25,63.50,142.50,39.25,39.50,...,72.50,64.00,141.50,39.75,41.50,5335000,5954000,34578800,51076700,22538900

In [6]:
test = data.swaplevel(0, axis=1)
test['KBANK.BK'].ta.rsi()

Date
2020-10-19          NaN
2020-10-20          NaN
2020-10-21          NaN
2020-10-22          NaN
2020-10-26          NaN
                ...
2021-10-08    67.812368
2021-10-11    64.718197
2021-10-12    66.887644
2021-10-14    66.887644
2021-10-15    69.091795
Name: RSI_14, Length: 239, dtype: float64

In [7]:
test.ta.rsi()

AttributeError: Can only use .str accessor with Index, not MultiIndex

In [8]:
data.Close.ta.rsi()

[X] Ooops!!! It's True, the series 'close' was not found in COM7.BK, EA.BK, KBANK.BK, PTT.BK, RCL.BK

            COM7.BK  EA.BK  KBANK.BK  PTT.BK  RCL.BK
Date
2020-10-19    39.75  41.75     70.75   32.50    5.35
2020-10-20    40.00  40.50     73.25   32.25    5.25
2020-10-21    40.50  40.75     75.75   32.25    5.50
2020-10-22    44.00  41.00     75.25   32.25    5.85
2020-10-26    44.00  40.75     74.50   32.25    5.90
...             ...    ...       ...     ...     ...
2021-10-08    72.25  63.00    140.00   39.75   46.25
2021-10-11    71.50  62.50    138.50   40.00   44.00
2021-10-12    71.75  64.00    140.50   40.00   44.25
2021-10-14    72.00  64.00    140.50   39.50   41.50
2021-10-15    72.25  63.50    142.50   39.25   39.50

[239 rows x 5 columns]

In [9]:
data.melt() # convert data pattern for database, not easy to use

     variable_0 variable_1         value
0     Adj Close    COM7.BK  3.922000e+01
1     Adj Close    COM7.BK  3.946667e+01
2     Adj Close    COM7.BK  3.996000e+01
3     Adj Close    COM7.BK  4.341333e+01
4     Adj Close    COM7.BK  4.341333e+01
...         ...        ...           ...
7165     Volume     RCL.BK  1.128170e+07
7166     Volume     RCL.BK  9.994800e+06
7167     Volume     RCL.BK  4.481500e+06
7168     Volume     RCL.BK  1.363100e+07
7169     Volume     RCL.BK  2.253890e+07

[7170 rows x 3 columns]

In [10]:
data.stack() # this pattern is better than .melt()

                      Adj Close   Close    High     Low    Open    Volume
Date
2020-10-19 COM7.BK    39.220001   39.75   40.75   39.25   40.00   6619600
           EA.BK      41.540379   41.75   42.00   40.00   41.00   6588700
           KBANK.BK   69.165863   70.75   73.00   70.00   73.00  25974800
           PTT.BK     30.906296   32.50   32.75   32.25   32.50  37145300
           RCL.BK      5.115122    5.35    5.40    4.70    4.78   5138000
...                         ...     ...     ...     ...     ...       ...
2021-10-15 COM7.BK    72.250000   72.25   73.25   72.00   72.50   5335000
           EA.BK      63.500000   63.50   64.25   63.00   64.00   5954000
           KBANK.BK  142.500000  142.50  143.00  141.00  141.50  34578800
           PTT.BK     39.250000   39.25   40.00   39.00   39.75  51076700
           RCL.BK     39.500000   39.50   42.75   39.25   41.50  22538900

[1195 rows x 6 columns]

In [11]:
data.unstack()

                    Date
Adj Close  COM7.BK  2020-10-19    3.922000e+01
                    2020-10-20    3.946667e+01
                    2020-10-21    3.996000e+01
                    2020-10-22    4.341333e+01
                    2020-10-26    4.341333e+01
                                      ...
Volume     RCL.BK   2021-10-08    1.128170e+07
                    2021-10-11    9.994800e+06
                    2021-10-12    4.481500e+06
                    2021-10-14    1.363100e+07
                    2021-10-15    2.253890e+07
Length: 7170, dtype: float64

In [12]:
df = data.stack()

In [13]:
df

                      Adj Close   Close    High     Low    Open    Volume
Date
2020-10-19 COM7.BK    39.220001   39.75   40.75   39.25   40.00   6619600
           EA.BK      41.540379   41.75   42.00   40.00   41.00   6588700
           KBANK.BK   69.165863   70.75   73.00   70.00   73.00  25974800
           PTT.BK     30.906296   32.50   32.75   32.25   32.50  37145300
           RCL.BK      5.115122    5.35    5.40    4.70    4.78   5138000
...                         ...     ...     ...     ...     ...       ...
2021-10-15 COM7.BK    72.250000   72.25   73.25   72.00   72.50   5335000
           EA.BK      63.500000   63.50   64.25   63.00   64.00   5954000
           KBANK.BK  142.500000  142.50  143.00  141.00  141.50  34578800
           PTT.BK     39.250000   39.25   40.00   39.00   39.75  51076700
           RCL.BK     39.500000   39.50   42.75   39.25   41.50  22538900

[1195 rows x 6 columns]

In [14]:
df.sort_index(level=1)

                    Adj Close  Close   High    Low   Open    Volume
Date
2020-10-19 COM7.BK  39.220001  39.75  40.75  39.25  40.00   6619600
2020-10-20 COM7.BK  39.466667  40.00  40.50  38.50  39.75   8072600
2020-10-21 COM7.BK  39.959999  40.50  41.00  39.75  40.00   4809000
2020-10-22 COM7.BK  43.413334  44.00  44.00  41.25  41.50  17817000
2020-10-26 COM7.BK  43.413334  44.00  44.25  43.00  43.75   7086900
...                       ...    ...    ...    ...    ...       ...
2021-10-08 RCL.BK   46.250000  46.25  46.50  44.00  44.00  11281700
2021-10-11 RCL.BK   44.000000  44.00  46.25  44.00  46.00   9994800
2021-10-12 RCL.BK   44.250000  44.25  45.00  44.00  44.25   4481500
2021-10-14 RCL.BK   41.500000  41.50  44.25  41.50  44.25  13631000
2021-10-15 RCL.BK   39.500000  39.50  42.75  39.25  41.50  22538900

[1195 rows x 6 columns]

In [15]:
df2 = df.sort_index(level=1)

In [16]:
df2.index.names = ['Date', 'Stock']

In [17]:
df2.iloc[df2.index.get_level_values('Stock') == 'COM7.BK']

                    Adj Close  Close   High    Low   Open    Volume
Date       Stock
2020-10-19 COM7.BK  39.220001  39.75  40.75  39.25  40.00   6619600
2020-10-20 COM7.BK  39.466667  40.00  40.50  38.50  39.75   8072600
2020-10-21 COM7.BK  39.959999  40.50  41.00  39.75  40.00   4809000
2020-10-22 COM7.BK  43.413334  44.00  44.00  41.25  41.50  17817000
2020-10-26 COM7.BK  43.413334  44.00  44.25  43.00  43.75   7086900
...                       ...    ...    ...    ...    ...       ...
2021-10-08 COM7.BK  72.250000  72.25  73.00  71.00  72.25   8079800
2021-10-11 COM7.BK  71.500000  71.50  73.00  71.25  73.00   4384100
2021-10-12 COM7.BK  71.750000  71.75  73.00  71.75  71.75   6170900
2021-10-14 COM7.BK  72.000000  72.00  72.50  71.50  72.00   5524500
2021-10-15 COM7.BK  72.250000  72.25  73.25  72.00  72.50   5335000

[239 rows x 6 columns]

In [18]:
data.swaplevel(0, axis=1).ta.rsi() # error from datafrom pattern column

AttributeError: Can only use .str accessor with Index, not MultiIndex

In [19]:
data.Close.ta.rsi()

[X] Ooops!!! It's True, the series 'close' was not found in COM7.BK, EA.BK, KBANK.BK, PTT.BK, RCL.BK

            COM7.BK  EA.BK  KBANK.BK  PTT.BK  RCL.BK
Date
2020-10-19    39.75  41.75     70.75   32.50    5.35
2020-10-20    40.00  40.50     73.25   32.25    5.25
2020-10-21    40.50  40.75     75.75   32.25    5.50
2020-10-22    44.00  41.00     75.25   32.25    5.85
2020-10-26    44.00  40.75     74.50   32.25    5.90
...             ...    ...       ...     ...     ...
2021-10-08    72.25  63.00    140.00   39.75   46.25
2021-10-11    71.50  62.50    138.50   40.00   44.00
2021-10-12    71.75  64.00    140.50   40.00   44.25
2021-10-14    72.00  64.00    140.50   39.50   41.50
2021-10-15    72.25  63.50    142.50   39.25   39.50

[239 rows x 5 columns]

In [21]:
df.ta.ema(10).head(20)

Date
2020-10-19  COM7.BK           NaN
            EA.BK             NaN
            KBANK.BK          NaN
            PTT.BK            NaN
            RCL.BK            NaN
2020-10-20  COM7.BK           NaN
            EA.BK             NaN
            KBANK.BK          NaN
            PTT.BK            NaN
            RCL.BK      38.135000
2020-10-21  COM7.BK     38.565000
            EA.BK       38.962273
            KBANK.BK    45.650950
            PTT.BK      43.214414
            RCL.BK      36.357248
2020-10-22  COM7.BK     37.746839
            EA.BK       38.338323
            KBANK.BK    45.049537
            PTT.BK      42.722348
            RCL.BK      36.018285
Name: EMA_10, dtype: float64

In [23]:
df2.ta.ema(10).head(20)

Date        Stock
2020-10-19  COM7.BK          NaN
2020-10-20  COM7.BK          NaN
2020-10-21  COM7.BK          NaN
2020-10-22  COM7.BK          NaN
2020-10-26  COM7.BK          NaN
2020-10-27  COM7.BK          NaN
2020-10-28  COM7.BK          NaN
2020-10-29  COM7.BK          NaN
2020-10-30  COM7.BK          NaN
2020-11-02  COM7.BK    41.800000
2020-11-03  COM7.BK    41.790909
2020-11-04  COM7.BK    41.965289
2020-11-05  COM7.BK    42.062509
2020-11-06  COM7.BK    42.005690
2020-11-09  COM7.BK    41.868291
2020-11-10  COM7.BK    41.346784
2020-11-11  COM7.BK    40.874641
2020-11-12  COM7.BK    40.715616
2020-11-13  COM7.BK    40.721867
2020-11-16  COM7.BK    40.545164
Name: EMA_10, dtype: float64

In [24]:
df2.ta.ema(20).iloc[230:260]

Date        Stock
2021-10-04  COM7.BK    68.980151
2021-10-05  COM7.BK    69.148708
2021-10-06  COM7.BK    69.253593
2021-10-07  COM7.BK    69.515155
2021-10-08  COM7.BK    69.775617
2021-10-11  COM7.BK    69.939844
2021-10-12  COM7.BK    70.112240
2021-10-14  COM7.BK    70.292026
2021-10-15  COM7.BK    70.478500
2020-10-19  EA.BK      67.742452
2020-10-20  EA.BK      65.147933
2020-10-21  EA.BK      62.824320
2020-10-22  EA.BK      60.745814
2020-10-26  EA.BK      58.841450
2020-10-27  EA.BK      57.047027
2020-10-28  EA.BK      55.399691
2020-10-29  EA.BK      53.861625
2020-10-30  EA.BK      52.350994
2020-11-02  EA.BK      51.031852
2020-11-03  EA.BK      50.076437
2020-11-04  EA.BK      49.116777
2020-11-05  EA.BK      48.581845
2020-11-06  EA.BK      48.074051
2020-11-09  EA.BK      47.686046
2020-11-10  EA.BK      47.430232
2020-11-11  EA.BK      47.198781
2020-11-12  EA.BK      46.965564
2020-11-13  EA.BK      46.778367
2020-11-16  EA.BK      46.585190
2020-11-17  EA.BK      46.267553
Name: EMA_20, dtype: float64

In [25]:
df2.ta.rsi()

Date        Stock
2020-10-19  COM7.BK          NaN
2020-10-20  COM7.BK          NaN
2020-10-21  COM7.BK          NaN
2020-10-22  COM7.BK          NaN
2020-10-26  COM7.BK          NaN
                         ...
2021-10-08  RCL.BK     35.425052
2021-10-11  RCL.BK     31.322871
2021-10-12  RCL.BK     32.261475
2021-10-14  RCL.BK     27.766132
2021-10-15  RCL.BK     25.034061
Name: RSI_14, Length: 1195, dtype: float64

In [26]:
df2.ta.macd() # error from column pattern

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (0)'

In [27]:
df2.reset_index()

           Date    Stock  Adj Close  Close   High    Low   Open    Volume
0    2020-10-19  COM7.BK  39.220001  39.75  40.75  39.25  40.00   6619600
1    2020-10-20  COM7.BK  39.466667  40.00  40.50  38.50  39.75   8072600
2    2020-10-21  COM7.BK  39.959999  40.50  41.00  39.75  40.00   4809000
3    2020-10-22  COM7.BK  43.413334  44.00  44.00  41.25  41.50  17817000
4    2020-10-26  COM7.BK  43.413334  44.00  44.25  43.00  43.75   7086900
...         ...      ...        ...    ...    ...    ...    ...       ...
1190 2021-10-08   RCL.BK  46.250000  46.25  46.50  44.00  44.00  11281700
1191 2021-10-11   RCL.BK  44.000000  44.00  46.25  44.00  46.00   9994800
1192 2021-10-12   RCL.BK  44.250000  44.25  45.00  44.00  44.25   4481500
1193 2021-10-14   RCL.BK  41.500000  41.50  44.25  41.50  44.25  13631000
1194 2021-10-15   RCL.BK  39.500000  39.50  42.75  39.25  41.50  22538900

[1195 rows x 8 columns]

In [28]:
df2.reset_index().ta.macd()

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
1190     -3.386754      -0.624176      -2.762578
1191     -3.431949      -0.535497      -2.896452
1192     -3.408305      -0.409482      -2.998822
1193     -3.570312      -0.457192      -3.113120
1194     -3.816098      -0.562382      -3.253716

[1195 rows x 3 columns]

In [29]:
df3 = df2.reset_index()

In [34]:
df3.set_index('Date').loc[:'2020-09-08']

Empty DataFrame
Columns: [Stock, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [35]:
df3.set_index('Date').iloc[:3]

              Stock  Adj Close  Close   High    Low   Open   Volume
Date
2020-10-19  COM7.BK  39.220001  39.75  40.75  39.25  40.00  6619600
2020-10-20  COM7.BK  39.466667  40.00  40.50  38.50  39.75  8072600
2020-10-21  COM7.BK  39.959999  40.50  41.00  39.75  40.00  4809000

In [36]:
df3 =df3.set_index('Date')

In [37]:
df3.ta.macd() # error

KeyError: "Cannot get left slice bound for non-unique label: Timestamp('2020-11-24 00:00:00')"

In [38]:
df3.reset_index().ta.macd()

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
1190     -3.386754      -0.624176      -2.762578
1191     -3.431949      -0.535497      -2.896452
1192     -3.408305      -0.409482      -2.998822
1193     -3.570312      -0.457192      -3.113120
1194     -3.816098      -0.562382      -3.253716

[1195 rows x 3 columns]

In [39]:
df3 = df2.reset_index().set_index('Stock')

In [40]:
df3

              Date  Adj Close  Close   High    Low   Open    Volume
Stock
COM7.BK 2020-10-19  39.220001  39.75  40.75  39.25  40.00   6619600
COM7.BK 2020-10-20  39.466667  40.00  40.50  38.50  39.75   8072600
COM7.BK 2020-10-21  39.959999  40.50  41.00  39.75  40.00   4809000
COM7.BK 2020-10-22  43.413334  44.00  44.00  41.25  41.50  17817000
COM7.BK 2020-10-26  43.413334  44.00  44.25  43.00  43.75   7086900
...            ...        ...    ...    ...    ...    ...       ...
RCL.BK  2021-10-08  46.250000  46.25  46.50  44.00  44.00  11281700
RCL.BK  2021-10-11  44.000000  44.00  46.25  44.00  46.00   9994800
RCL.BK  2021-10-12  44.250000  44.25  45.00  44.00  44.25   4481500
RCL.BK  2021-10-14  41.500000  41.50  44.25  41.50  44.25  13631000
RCL.BK  2021-10-15  39.500000  39.50  42.75  39.25  41.50  22538900

[1195 rows x 7 columns]

In [41]:
df3.ta.macd()

         MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Stock
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
...               ...            ...            ...
RCL.BK      -3.386754      -0.624176      -2.762578
RCL.BK      -3.431949      -0.535497      -2.896452
RCL.BK      -3.408305      -0.409482      -2.998822
RCL.BK      -3.570312      -0.457192      -3.113120
RCL.BK      -3.816098      -0.562382      -3.253716

[1195 rows x 3 columns]

In [42]:
df3.iloc[220:260]

              Date  Adj Close  Close   High    Low   Open    Volume
Stock
COM7.BK 2021-09-17  71.250000  71.25  72.00  70.75  71.00   4611500
COM7.BK 2021-09-20  70.000000  70.00  71.75  69.50  71.00   4307700
COM7.BK 2021-09-21  71.000000  71.00  71.50  68.50  70.00   9655400
COM7.BK 2021-09-22  70.750000  70.75  71.50  69.75  71.25   4583100
COM7.BK 2021-09-23  70.000000  70.00  71.00  69.25  70.75   3737100
COM7.BK 2021-09-27  65.750000  65.75  70.75  65.25  70.00  14049400
COM7.BK 2021-09-28  65.500000  65.50  67.25  65.00  66.25   8409200
COM7.BK 2021-09-29  66.750000  66.75  67.25  64.75  64.75   7378400
COM7.BK 2021-09-30  67.250000  67.25  68.00  66.00  66.50   9481200
COM7.BK 2021-10-01  66.250000  66.25  67.50  66.00  67.25   4077400
COM7.BK 2021-10-04  71.250000  71.25  72.50  66.25  66.25  24619600
COM7.BK 2021-10-05  70.750000  70.75  71.75  69.75  70.75   6825700
COM7.BK 2021-10-06  70.250000  70.25  71.25  69.75  70.75   4446500
COM7.BK 2021-10-07  72.000000  72.00  72.50  70.25  70.25   8508900
COM7.BK 2021-10-08  72.250000  72.25  73.00  71.00  72.25   8079800
COM7.BK 2021-10-11  71.500000  71.50  73.00  71.25  73.00   4384100
COM7.BK 2021-10-12  71.750000  71.75  73.00  71.75  71.75   6170900
COM7.BK 2021-10-14  72.000000  72.00  72.50  71.50  72.00   5524500
COM7.BK 2021-10-15  72.250000  72.25  73.25  72.00  72.50   5335000
EA.BK   2020-10-19  41.540379  41.75  42.00  40.00  41.00   6588700
EA.BK   2020-10-20  40.296654  40.50  42.25  40.25  41.50   6844700
EA.BK   2020-10-21  40.545399  40.75  41.50  40.50  41.25   6250900
EA.BK   2020-10-22  40.794144  41.00  41.50  40.25  41.00   3998900
EA.BK   2020-10-26  40.545399  40.75  41.50  40.25  41.00   2990100
EA.BK   2020-10-27  39.799164  40.00  40.75  39.75  40.00   4075300
EA.BK   2020-10-28  39.550419  39.75  40.75  39.50  39.50   6813600
EA.BK   2020-10-29  39.052929  39.25  40.00  39.00  39.50   8160000
EA.BK   2020-10-30  37.809204  38.00  39.75  38.00  39.50   8638600
EA.BK   2020-11-02  38.306694  38.50  38.75  38.00  38.00   7863300
EA.BK   2020-11-03  40.794144  41.00  41.00  39.00  39.00  14437200
EA.BK   2020-11-04  39.799164  40.00  41.25  39.50  40.75   8068200
EA.BK   2020-11-05  43.281590  43.50  43.50  41.00  41.50  21125500
EA.BK   2020-11-06  43.032845  43.25  44.25  42.50  43.50  18446900
EA.BK   2020-11-09  43.779079  44.00  44.75  43.75  44.50  12821000
EA.BK   2020-11-10  44.774059  45.00  45.00  43.25  44.00  13760100
EA.BK   2020-11-11  44.774059  45.00  46.00  44.75  45.50  15866500
EA.BK   2020-11-12  44.525314  44.75  45.50  44.00  45.00   8394700
EA.BK   2020-11-13  44.774059  45.00  45.50  43.75  44.00   7830500
EA.BK   2020-11-16  44.525314  44.75  45.50  44.00  45.50   6574400
EA.BK   2020-11-17  43.032845  43.25  44.50  43.00  44.00   9764600

In [43]:
df3.ta.rsi(append=True)
df3.ta.macd(append=True)

         MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Stock
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
...               ...            ...            ...
RCL.BK      -3.386754      -0.624176      -2.762578
RCL.BK      -3.431949      -0.535497      -2.896452
RCL.BK      -3.408305      -0.409482      -2.998822
RCL.BK      -3.570312      -0.457192      -3.113120
RCL.BK      -3.816098      -0.562382      -3.253716

[1195 rows x 3 columns]

In [44]:
df3

,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Stock,,,,,,,,,,,
COM7.BK,2020-10-19,39.220001,39.75,40.75,39.25,40.00,6619600,NaN,NaN,NaN,NaN
COM7.BK,2020-10-20,39.466667,40.00,40.50,38.50,39.75,8072600,NaN,NaN,NaN,NaN
COM7.BK,2020-10-21,39.959999,40.50,41.00,39.75,40.00,4809000,NaN,NaN,NaN,NaN
COM7.BK,2020-10-22,43.413334,44.00,44.00,41.25,41.50,17817000,NaN,NaN,NaN,NaN
COM7.BK,2020-10-26,43.413334,44.00,44.25,43.00,43.75,7086900,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
RCL.BK,2021-10-08,46.250000,46.25,46.50,44.00,44.00,11281700,35.425052,-3.386754,-0.624176,-2.762578
RCL.BK,2021-10-11,44.000000,44.00,46.25,44.00,46.00,9994800,31.322871,-3.431949,-0.535497,-2.896452
RCL.BK,2021-10-12,44.250000,44.25,45.00,44.00,44.25,4481500,32.261475,-3.408305,-0.409482,-2.998822
RCL.BK,2021-10-14,41.500000,41.50,44.25,41.50,44.25,13631000,27.766132,-3.570312,-0.457192,-3.113120
RCL.BK,2021-10-15,39.500000,39.50,42.75,39.25,41.50,22538900,25.034061,-3.816098,-0.562382,-3.253716

In [45]:
df4 = df3.reset_index()

In [46]:
tickers

'PTT.BK KBANK.BK EA.BK COM7.BK RCL.BK'

In [47]:
for i in tickers.split():
    print(i)

PTT.BK
KBANK.BK
EA.BK
COM7.BK
RCL.BK

In [48]:
df4.describe()

,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
count,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1.195000e+03,1181.000000,1170.000000,1170.000000,1170.000000
mean,61.436425,62.272803,63.304644,61.341381,62.299858,2.905197e+07,51.568897,0.059257,-0.007671,0.066928
std,33.715104,33.954567,34.300702,33.564669,33.994192,2.992327e+07,15.037809,4.177951,1.327151,3.901260
min,5.019512,5.250000,5.400000,4.700000,4.780000,1.448600e+06,6.440478,-26.770130,-13.534361,-23.084270
25%,38.814816,40.000000,40.500000,39.500000,40.000000,9.338050e+06,41.722405,-0.748217,-0.274628,-0.771478
50%,57.500000,57.750000,58.750000,57.000000,58.000000,1.682820e+07,52.103721,0.091118,0.054604,0.070494
75%,70.000000,70.000000,71.375000,69.250000,70.250000,3.880910e+07,61.672164,1.697946,0.428602,1.615460
max,147.130203,150.500000,153.000000,149.500000,152.000000,2.012150e+08,88.707247,10.409420,3.835968,9.732637

In [49]:
df4.groupby('Stock').max()

,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Stock,,,,,,,,,,,
COM7.BK,2021-10-15,76.500000,76.5,78.25,74.25,77.5,62784800,82.312443,4.434975,0.910024,4.250689
EA.BK,2021-10-15,68.653557,69.0,71.75,67.00,68.5,159557600,80.912050,5.218814,2.209264,4.339625
KBANK.BK,2021-10-15,147.130203,150.5,153.00,149.50,152.0,172607800,88.707247,10.409420,2.349892,9.732637
PTT.BK,2021-10-15,42.317852,44.5,45.00,44.00,44.5,201215000,70.049224,0.876793,3.835968,3.487842
RCL.BK,2021-10-15,61.951221,63.5,67.75,61.75,64.5,101377700,85.660125,6.354428,1.518257,5.824418

In [50]:
df4.groupby('Stock')['Close'].max()

Stock
COM7.BK      76.5
EA.BK        69.0
KBANK.BK    150.5
PTT.BK       44.5
RCL.BK       63.5
Name: Close, dtype: float64

In [51]:
df4.groupby('Stock')['Close'].transform('max')

0       76.5
1       76.5
2       76.5
3       76.5
4       76.5
        ...
1190    63.5
1191    63.5
1192    63.5
1193    63.5
1194    63.5
Name: Close, Length: 1195, dtype: float64

In [52]:
df4['52-week-high'] = df4.groupby('Stock')['Close'].transform('max')
df4['52-week-low'] = df4.groupby('Stock')['Close'].transform('min')

In [53]:
df4['from-high'] = df4['Close']/df4['52-week-high']-1

In [54]:
df4

,Stock,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,52-week-high,52-week-low,from-high
0,COM7.BK,2020-10-19,39.220001,39.75,40.75,39.25,40.00,6619600,NaN,NaN,NaN,NaN,76.5,36.75,-0.480392
1,COM7.BK,2020-10-20,39.466667,40.00,40.50,38.50,39.75,8072600,NaN,NaN,NaN,NaN,76.5,36.75,-0.477124
2,COM7.BK,2020-10-21,39.959999,40.50,41.00,39.75,40.00,4809000,NaN,NaN,NaN,NaN,76.5,36.75,-0.470588
3,COM7.BK,2020-10-22,43.413334,44.00,44.00,41.25,41.50,17817000,NaN,NaN,NaN,NaN,76.5,36.75,-0.424837
4,COM7.BK,2020-10-26,43.413334,44.00,44.25,43.00,43.75,7086900,NaN,NaN,NaN,NaN,76.5,36.75,-0.424837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,RCL.BK,2021-10-08,46.250000,46.25,46.50,44.00,44.00,11281700,35.425052,-3.386754,-0.624176,-2.762578,63.5,5.25,-0.271654
1191,RCL.BK,2021-10-11,44.000000,44.00,46.25,44.00,46.00,9994800,31.322871,-3.431949,-0.535497,-2.896452,63.5,5.25,-0.307087
1192,RCL.BK,2021-10-12,44.250000,44.25,45.00,44.00,44.25,4481500,32.261475,-3.408305,-0.409482,-2.998822,63.5,5.25,-0.303150
1193,RCL.BK,2021-10-14,41.500000,41.50,44.25,41.50,44.25,13631000,27.766132,-3.570312,-0.457192,-3.113120,63.5,5.25,-0.346457
1194,RCL.BK,2021-10-15,39.500000,39.50,42.75,39.25,41.50,22538900,25.034061,-3.816098,-0.562382,-3.253716,63.5,5.25,-0.377953

In [56]:
df4.loc[(df4['RSI_14'] > 50) & (df4['MACDh_12_26_9'] > 0) &
        (df4['MACD_12_26_9'] > 0) & (df4['from-high'] > -0.2), 'Action'] = 'Hold'
df4.loc[(df4['RSI_14'] > 50) & (df4['MACDh_12_26_9'] < 0) & (df4['from-high'] > -0.2), 'Action'] = 'Aware'

In [57]:
from datetime import date
date.today()

datetime.date(2021, 10, 18)

In [58]:
today = date.today().strftime("%Y-%m-%d")

In [59]:
today

'2021-10-18'

In [60]:
df4 = df4.set_index('Date')

In [64]:
df4.loc[today]

Empty DataFrame
Columns: [Stock, Adj Close, Close, High, Low, Open, Volume, RSI_14, MACD_12_26_9, MACDh_12_26_9, MACDs_12_26_9, 52-week-high, 52-week-low, from-high, Action]
Index: []