In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('AUDUSD_5m.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
11659,2021-12-31 21:45:00+00:00,0.726966,0.727061,0.726860,0.726913,0.726913,0
11660,2021-12-31 21:50:00+00:00,0.726966,0.727590,0.726966,0.727537,0.727537,0
11661,2021-12-31 21:55:00+00:00,0.727426,0.727426,0.726908,0.726908,0.726908,0
11662,2021-12-31 22:00:00+00:00,0.726216,0.726375,0.726216,0.726375,0.726375,0
11663,2021-12-31 22:05:00+00:00,0.726375,0.726375,0.726375,0.726375,0.726375,0

#### Datetime
* datetime to index
* frequency
* vectorize

#### Pandas
* shifting
* groupby
* rolling window ขยับทีละช่วง โลกลงทุนใช้เยอะ
* resampling ถ้ามีข้อมูล 1m ทำเป็น 5m ได้  ถามถ้ามี daily ทำเป็น intraday ได้ไหม ตอบห้ามทำ

In [15]:
df = pd.DataFrame(data={'open': [10, 20, 30], 'close': [1, 2, 3], 'high': [4, 5, 6], 'low': [7, 8, 9]}, index=['A', 'B', 'C'])
df

   open  close  high  low
A    10      1     4    7
B    20      2     5    8
C    30      3     6    9

In [16]:
df.loc['A'] # เรียก row ใช้ loc ( ซึ่งผลออกมาไม่ใช่ series )

open     10
close     1
high      4
low       7
Name: A, dtype: int64

In [17]:
df.loc['A', 'open'] # df.loc['open', 'A'] สลับไม่ได้ loc ให้ใช้ row ก่อน column

10

In [18]:
df.iloc[0,0] # เหมาะใช้รัน fpr loop คู่กับฟังก์ชัน

10

In [20]:
df.iloc[0:2, 1:3] # slice

   close  high
A      1     4
B      2     5

In [28]:
df[df >= 10]

   open  close  high  low
A    10    NaN   NaN  NaN
B    20    NaN   NaN  NaN
C    30    NaN   NaN  NaN

In [30]:
df[ (df >= 1) & (df < 5) ]

   open  close  high  low
A   NaN      1   4.0  NaN
B   NaN      2   NaN  NaN
C   NaN      3   NaN  NaN

In [38]:
df.iloc[1:, :2]

   open  close
B    20      2
C    30      3

In [41]:
df[ df.iloc[:, 0] > 10 ]

   open  close  high  low
B    20      2     5    8
C    30      3     6    9

In [ ]:
# take action เมื่อจบแท่งเทียน หรือพึ่งเริ่มแท่งเทียนใหม่ๆ