In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from pandas_datareader import data as web
import yfinance as yf
yf.pdr_override()

In [ ]:
start = '2019-01-01'
end = '2021-01-01'

In [ ]:
tsla = web.get_data_yahoo('TSLA', start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
tsla

                  Open        High  ...   Adj Close    Volume
Date                                ...
2019-01-02   61.220001   63.026001  ...   62.023998  58293000
2019-01-03   61.400002   61.880001  ...   60.071999  34826000
2019-01-04   61.200001   63.599998  ...   63.537998  36970500
2019-01-07   64.344002   67.348000  ...   66.991997  37756000
2019-01-08   68.391998   68.802002  ...   67.070000  35042500
...                ...         ...  ...         ...       ...
2020-12-24  642.989990  666.090027  ...  661.770020  22865600
2020-12-28  674.510010  681.400024  ...  663.690002  32278600
2020-12-29  661.000000  669.900024  ...  665.989990  22910800
2020-12-30  672.000000  696.599976  ...  694.780029  42846000
2020-12-31  699.989990  718.719971  ...  705.669983  49649900

[505 rows x 6 columns]

In [ ]:
price = tsla['Adj Close']

In [ ]:
ret_manual = price/price.shift(1) - 1

In [ ]:
ret_manual

Date
2019-01-02         NaN
2019-01-03   -0.031472
2019-01-04    0.057697
2019-01-07    0.054361
2019-01-08    0.001164
                ...
2020-12-24    0.024444
2020-12-28    0.002901
2020-12-29    0.003465
2020-12-30    0.043229
2020-12-31    0.015674
Name: Adj Close, Length: 505, dtype: float64

In [ ]:
ret = price.pct_change()

In [ ]:
ret

Date
2019-01-02         NaN
2019-01-03   -0.031472
2019-01-04    0.057697
2019-01-07    0.054361
2019-01-08    0.001164
                ...
2020-12-24    0.024444
2020-12-28    0.002901
2020-12-29    0.003465
2020-12-30    0.043229
2020-12-31    0.015674
Name: Adj Close, Length: 505, dtype: float64

In [ ]:
#Backward Return

In [ ]:
m3b_ret = price.pct_change(60)

In [ ]:
m6b_ret = price.pct_change(126)

In [ ]:
y_ret = price.pct_change(252)

In [ ]:
#Forward Return

In [ ]:
three_month_ret = price.pct_change(-60)

In [ ]:
six_month_ret = price.pct_change(-126)

In [ ]:
one_year_ret = price.pct_change(-252)

หาราคาหุ้น เป็นรายสัปดาห์ เริ่มต้นวันจันทร์

In [ ]:
weekly_price = price.asfreq('W-Mon')

In [ ]:
weekly_price

Date
2019-01-07     66.991997
2019-01-14     66.879997
2019-01-21           NaN
2019-01-28     59.276001
2019-02-04     62.577999
                 ...
2020-11-30    567.599976
2020-12-07    641.760010
2020-12-14    639.830017
2020-12-21    649.859985
2020-12-28    663.690002
Freq: W-MON, Name: Adj Close, Length: 104, dtype: float64

In [ ]:
weekly_ret = weekly_price.pct_change()

หาราคาหุ้น เป็นรายสัปดาห์ ปกติเราจะใช้วันศุกร์

In [ ]:
weekly_price = price.asfreq(<ลองเปลี่ยนเป็นวันศุกร์>)

หาราคาหุ้น เป็นรายเดือน

In [ ]:
monthly_price = price.resample('M').last()

In [ ]:
monthly_price

Date
2019-01-31     61.403999
2019-02-28     63.976002
2019-03-31     55.972000
2019-04-30     47.737999
2019-05-31     37.032001
2019-06-30     44.692001
2019-07-31     48.321999
2019-08-31     45.122002
2019-09-30     48.174000
2019-10-31     62.984001
2019-11-30     65.987999
2019-12-31     83.666000
2020-01-31    130.113998
2020-02-29    133.598007
2020-03-31    104.800003
2020-04-30    156.376007
2020-05-31    167.000000
2020-06-30    215.962006
2020-07-31    286.152008
2020-08-31    498.320007
2020-09-30    429.010010
2020-10-31    388.040009
2020-11-30    567.599976
2020-12-31    705.669983
Freq: M, Name: Adj Close, dtype: float64

In [ ]:
monthly_ret = monthly_price.pct_change()

In [ ]:
monthly_ret

Date
2019-01-31         NaN
2019-02-28    0.041887
2019-03-31   -0.125109
2019-04-30   -0.147109
2019-05-31   -0.224266
2019-06-30    0.206848
2019-07-31    0.081223
2019-08-31   -0.066222
2019-09-30    0.067639
2019-10-31    0.307427
2019-11-30    0.047695
2019-12-31    0.267897
2020-01-31    0.555160
2020-02-29    0.026777
2020-03-31   -0.215557
2020-04-30    0.492137
2020-05-31    0.067939
2020-06-30    0.293186
2020-07-31    0.325011
2020-08-31    0.741452
2020-09-30   -0.139087
2020-10-31   -0.095499
2020-11-30    0.462736
2020-12-31    0.243252
Freq: M, Name: Adj Close, dtype: float64