### RSI _Opposite_Order ( RSI_O2 ) Strategy

In [1]:
import time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np

### import csv

In [16]:
data = pd.read_csv('USDJPY_15m_2022_01_03.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
3887,2021-12-31 20:45:00+00:00,115.051003,115.110001,115.010002,115.095001,115.095001,0
3888,2021-12-31 21:00:00+00:00,115.091003,115.095001,115.029999,115.056999,115.056999,0
3889,2021-12-31 21:15:00+00:00,115.056999,115.073997,115.019997,115.061996,115.061996,0
3890,2021-12-31 21:30:00+00:00,115.061996,115.087997,115.040001,115.070000,115.070000,0
3891,2021-12-31 21:45:00+00:00,115.080002,115.116997,115.050003,115.102997,115.102997,0

### create strategy

In [17]:
rsi_o2 = ta.Strategy(
    name = 'RSI 14 Days for opposite trade',
    description = 'RSI for alert',
    ta = [
        {'kind': 'ema', 'length': 200},
        {'kind': 'rsi', 'length': 14}
    ]
)

In [18]:
df = data.copy()
df.ta.strategy(rsi_o2)

### create signal

In [19]:
def backtest_rsi_o2(df, n=3, tp=0.001, sl=0.001):
    n_bars = n  # number of latest bars to backword lookup

    for i in range(n_bars):
        df['RSI_14_pre_'+str(i)] = df['RSI_14'].shift(i)
        df['EMA_200_pre_'+str(i)] = df['EMA_200'].shift(i)
        df['high_pre_'+str(i)] = df['high'].shift(i)
        df['low_pre_'+str(i)] = df['low'].shift(i)

    df['action'] = np.nan

    orders = pd.DataFrame(columns = ['action', 'open time', 'open', 'close time', 'close', 'result'])
    previous_action = 'close'
    order = {}
    tp_gap = tp
    sl_gap = sl
    for index, row in df.iterrows():
        sell_point = 0
        buy_point = 0

        for i in range(n_bars):
            if (row['RSI_14_pre_'+str(i)] < 30 and row['EMA_200_pre_'+str(i)] > row['high_pre_'+str(i)]):
                sell_point = sell_point + 1
            elif (row['RSI_14_pre_'+str(i)] > 70 and row['EMA_200_pre_'+str(i)] < row['low_pre_'+str(i)]):
                buy_point = buy_point + 1

        if buy_point >= n_bars and previous_action == 'close':
            row['action'] = 'buy'
            order['action'] = 'buy'
            order['open time'] = row['timestamp']
            order['open'] = row['open']
            previous_action = 'buy'
        elif sell_point >= n_bars and previous_action == 'close':
            row['action'] = 'sell'
            order['action'] = 'sell'
            order['open time'] = row['timestamp']
            order['open'] = row['open']
            previous_action = 'sell'

        if previous_action == 'buy' and row['high'] >= order['open'] + tp_gap:
            order['result'] = 'TP'
            order['close time'] = row['timestamp']
            order['close'] = order['open'] + tp_gap
            previous_action = 'close'
            orders = orders.append(order, ignore_index = True)
            order = {}
        elif previous_action == 'buy' and row['low'] <= order['open'] - sl_gap:
            order['result'] = 'SL'
            order['close time'] = row['timestamp']
            order['close'] = order['open'] - sl_gap
            previous_action = 'close'
            orders = orders.append(order, ignore_index = True)
            order = {}
        elif previous_action == 'sell' and row['low'] <= order['open'] - tp_gap:
            order['result'] = 'TP'
            order['close time'] = row['timestamp']
            order['close'] = order['open'] - tp_gap
            previous_action = 'close'
            orders = orders.append(order, ignore_index = True)
            order = {}
        elif previous_action == 'sell' and row['high'] >= order['open'] + sl_gap:
            order['result'] = 'SL'
            order['close time'] = row['timestamp']
            order['close'] = order['open'] + sl_gap
            previous_action = 'close'
            orders = orders.append(order, ignore_index = True)
            order = {}

    win_rate = round(len(orders[orders['result'] == 'TP']) * 100 / len(orders), 2)
    loss_rate = round(len(orders[orders['result'] == 'SL']) * 100 / len(orders), 2)
    print(f"n bars = {n_bars}, rr = {tp_gap} : {sl_gap} \nwin rate: {str(win_rate)} %\n")

In [20]:
backtest_rsi_o2(df, n=3, tp=0.001, sl=0.001)

n bars = 3, rr = 0.001 : 0.001
win rate: 98.09 %

In [22]:
for i in range(5):
    for j in range(5):
        backtest_rsi_o2(df, n=i+1, tp=0.001 + (j * 0.0001), sl=0.001)

n bars = 1, rr = 0.001 : 0.001
win rate: 99.0 %

n bars = 1, rr = 0.0011 : 0.001
win rate: 99.0 %

n bars = 1, rr = 0.0012000000000000001 : 0.001
win rate: 99.0 %

n bars = 1, rr = 0.0013 : 0.001
win rate: 99.0 %

n bars = 1, rr = 0.0014 : 0.001
win rate: 99.0 %

n bars = 2, rr = 0.001 : 0.001
win rate: 98.58 %

n bars = 2, rr = 0.0011 : 0.001
win rate: 98.58 %

n bars = 2, rr = 0.0012000000000000001 : 0.001
win rate: 98.58 %

n bars = 2, rr = 0.0013 : 0.001
win rate: 98.58 %

n bars = 2, rr = 0.0014 : 0.001
win rate: 98.58 %

n bars = 3, rr = 0.001 : 0.001
win rate: 98.09 %

n bars = 3, rr = 0.0011 : 0.001
win rate: 98.09 %

n bars = 3, rr = 0.0012000000000000001 : 0.001
win rate: 98.09 %

n bars = 3, rr = 0.0013 : 0.001
win rate: 98.09 %

n bars = 3, rr = 0.0014 : 0.001
win rate: 98.09 %

n bars = 4, rr = 0.001 : 0.001
win rate: 97.54 %

n bars = 4, rr = 0.0011 : 0.001
win rate: 97.54 %

n bars = 4, rr = 0.0012000000000000001 : 0.001
win rate: 97.54 %

n bars = 4, rr = 0.0013 : 0.001
win rate: 97.54 %

n bars = 4, rr = 0.0014 : 0.001
win rate: 97.54 %

n bars = 5, rr = 0.001 : 0.001
win rate: 96.88 %

n bars = 5, rr = 0.0011 : 0.001
win rate: 96.88 %

n bars = 5, rr = 0.0012000000000000001 : 0.001
win rate: 96.88 %

n bars = 5, rr = 0.0013 : 0.001
win rate: 96.88 %

n bars = 5, rr = 0.0014 : 0.001
win rate: 96.88 %

### backtest

In [ ]:
'''
=== Todo ===
[/] import forex data from yohoo finance GBPUSD, EURUSD, USDJPY TF: 5min, 15min, 30min, 1hr, 4hr.
[/] backtest RSI_O2 strategy with forex.
[/] get data from binance BTCUSDT, ETHUSDT, BNBUSDT, ADAUSDT, SHIBUSDT, GALAUSDT, UNIUSDT, CAKEUSDT, SOLUSDT, LUNAUSDT, DOTUSDT
   TF: 15min, 30min, 1hr, 4hr, 1day
[] create EMA_3_lines strategy.
[] backtest EMA_3_lines strategy with forex.
[] create bot pull data from yahoo finance because they can give us last 2 months.
[] Get Free trial 30 days of Tradingview.
'''