### RSI _Opposite_Order ( RSI_O2 ) Strategy

In [3]:
import time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np

### import csv

In [11]:
data = pd.read_csv('EURUSD_15m_2022_01_03.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
3501,2021-12-31 20:45:00+00:00,1.138952,1.139212,1.138174,1.138174,1.138174,0
3502,2021-12-31 21:00:00+00:00,1.138045,1.138304,1.137915,1.138174,1.138174,0
3503,2021-12-31 21:30:00+00:00,1.138174,1.138174,1.138045,1.138045,1.138045,0
3504,2021-12-31 21:45:00+00:00,1.138174,1.138563,1.137010,1.137268,1.137268,0
3505,2021-12-31 22:00:00+00:00,1.137268,1.137268,1.137268,1.137268,1.137268,0

### create strategy

In [12]:
rsi_o2 = ta.Strategy(
    name = 'RSI 14 Days for opposite trade',
    description = 'RSI for alert',
    ta = [
        {'kind': 'ema', 'length': 200},
        {'kind': 'rsi', 'length': 14}
    ]
)

In [6]:
df = data.copy()
df.ta.strategy(rsi_o2)

### create signal

In [17]:
def backtest_rsi_o2(df, n=3, tp=0.001, sl=0.001):
    n_bars = n  # number of latest bars to backword lookup

    for i in range(n_bars):
        df['RSI_14_pre_'+str(i)] = df['RSI_14'].shift(i)
        df['EMA_200_pre_'+str(i)] = df['EMA_200'].shift(i)
        df['high_pre_'+str(i)] = df['high'].shift(i)
        df['low_pre_'+str(i)] = df['low'].shift(i)

    df['action'] = np.nan

    orders = pd.DataFrame(columns = ['action', 'open time', 'open', 'close time', 'close', 'result'])
    previous_action = 'close'
    order = {}
    tp_gap = tp
    sl_gap = sl
    for index, row in df.iterrows():
        sell_point = 0
        buy_point = 0

        for i in range(n_bars):
            if (row['RSI_14_pre_'+str(i)] < 30 and row['EMA_200_pre_'+str(i)] > row['high_pre_'+str(i)]):
                sell_point = sell_point + 1
            elif (row['RSI_14_pre_'+str(i)] > 70 and row['EMA_200_pre_'+str(i)] < row['low_pre_'+str(i)]):
                buy_point = buy_point + 1

        if buy_point >= n_bars and previous_action == 'close':
            row['action'] = 'buy'
            order['action'] = 'buy'
            order['open time'] = row['timestamp']
            order['open'] = row['open']
            previous_action = 'buy'
        elif sell_point >= n_bars and previous_action == 'close':
            row['action'] = 'sell'
            order['action'] = 'sell'
            order['open time'] = row['timestamp']
            order['open'] = row['open']
            previous_action = 'sell'

        if previous_action == 'buy':
            if row['low'] <= order['open'] - sl_gap:
                order['result'] = 'SL'
                order['close time'] = row['timestamp']
                order['close'] = order['open'] - sl_gap
                previous_action = 'close'
                orders = orders.append(order, ignore_index = True)
                order = {}
            elif row['high'] >= order['open'] + tp_gap:
                order['result'] = 'TP'
                order['close time'] = row['timestamp']
                order['close'] = order['open'] + tp_gap
                previous_action = 'close'
                orders = orders.append(order, ignore_index = True)
                order = {}
        elif previous_action == 'sell':
            if row['high'] >= order['open'] + sl_gap:
                order['result'] = 'SL'
                order['close time'] = row['timestamp']
                order['close'] = order['open'] + sl_gap
                previous_action = 'close'
                orders = orders.append(order, ignore_index = True)
                order = {}
            elif row['low'] <= order['open'] - tp_gap:
                order['result'] = 'TP'
                order['close time'] = row['timestamp']
                order['close'] = order['open'] - tp_gap
                previous_action = 'close'
                orders = orders.append(order, ignore_index = True)
                order = {}

    win_rate = round(len(orders[orders['result'] == 'TP']) * 100 / len(orders), 2)
    loss_rate = round(len(orders[orders['result'] == 'SL']) * 100 / len(orders), 2)
    print(f"total orders: {len(orders)}, n bars = {n_bars}, rr = {tp_gap} : {sl_gap} \nwin rate: {str(win_rate)} %\n")

In [18]:
backtest_rsi_o2(df, n=3, tp=0.001, sl=0.001)

total orders: 157, n bars = 3, rr = 0.001 : 0.001
win rate: 0.64 %

In [16]:
for i in range(5):
    for j in range(5):
        backtest_rsi_o2(df, n=i+1, tp=0.1 + (j * 0.01), sl=0.1)

total orders: 145, n bars = 1, rr = 0.1 : 0.1
win rate: 71.72 %

total orders: 138, n bars = 1, rr = 0.11 : 0.1
win rate: 72.46 %

total orders: 130, n bars = 1, rr = 0.12000000000000001 : 0.1
win rate: 71.54 %

total orders: 124, n bars = 1, rr = 0.13 : 0.1
win rate: 68.55 %

total orders: 117, n bars = 1, rr = 0.14 : 0.1
win rate: 66.67 %

total orders: 91, n bars = 2, rr = 0.1 : 0.1
win rate: 64.84 %

total orders: 88, n bars = 2, rr = 0.11 : 0.1
win rate: 64.77 %

total orders: 83, n bars = 2, rr = 0.12000000000000001 : 0.1
win rate: 65.06 %

total orders: 82, n bars = 2, rr = 0.13 : 0.1
win rate: 63.41 %

total orders: 75, n bars = 2, rr = 0.14 : 0.1
win rate: 61.33 %

total orders: 69, n bars = 3, rr = 0.1 : 0.1
win rate: 53.62 %

total orders: 66, n bars = 3, rr = 0.11 : 0.1
win rate: 54.55 %

total orders: 59, n bars = 3, rr = 0.12000000000000001 : 0.1
win rate: 59.32 %

total orders: 56, n bars = 3, rr = 0.13 : 0.1
win rate: 58.93 %

total orders: 51, n bars = 3, rr = 0.14 : 0.1
win rate: 52.94 %

total orders: 47, n bars = 4, rr = 0.1 : 0.1
win rate: 53.19 %

total orders: 46, n bars = 4, rr = 0.11 : 0.1
win rate: 50.0 %

total orders: 40, n bars = 4, rr = 0.12000000000000001 : 0.1
win rate: 50.0 %

total orders: 38, n bars = 4, rr = 0.13 : 0.1
win rate: 47.37 %

total orders: 37, n bars = 4, rr = 0.14 : 0.1
win rate: 45.95 %

total orders: 33, n bars = 5, rr = 0.1 : 0.1
win rate: 45.45 %

total orders: 32, n bars = 5, rr = 0.11 : 0.1
win rate: 43.75 %

total orders: 29, n bars = 5, rr = 0.12000000000000001 : 0.1
win rate: 44.83 %

total orders: 28, n bars = 5, rr = 0.13 : 0.1
win rate: 35.71 %

total orders: 27, n bars = 5, rr = 0.14 : 0.1
win rate: 33.33 %

### backtest

In [ ]:
'''
=== Todo ===
[/] import forex data from yohoo finance GBPUSD, EURUSD, USDJPY TF: 5min, 15min, 30min, 1hr, 4hr.
[/] backtest RSI_O2 strategy with forex.
[/] get data from binance BTCUSDT, ETHUSDT, BNBUSDT, ADAUSDT, SHIBUSDT, GALAUSDT, UNIUSDT, CAKEUSDT, SOLUSDT, LUNAUSDT, DOTUSDT
   TF: 15min, 30min, 1hr, 4hr, 1day
[] create EMA_3_lines strategy.
[] backtest EMA_3_lines strategy with forex.
[] create bot pull data from yahoo finance because they can give us last 2 months.
[] Get Free trial 30 days of Tradingview.
'''