### RSI _Opposite_Order ( RSI_O2 ) Strategy

In [1]:
import time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np

### import csv

In [2]:
data = pd.read_csv('EURUSD_m15_2021_12_28.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
3863,2021-12-27 15:45:00+00:00,1.342282,1.342282,1.341022,1.341976,1.341976,0
3864,2021-12-27 16:00:00+00:00,1.341562,1.342913,1.341526,1.342642,1.342642,0
3865,2021-12-27 16:15:00+00:00,1.342606,1.343544,1.342588,1.343544,1.343544,0
3866,2021-12-27 16:30:00+00:00,1.343508,1.344104,1.343075,1.343400,1.343400,0
3867,2021-12-27 16:45:00+00:00,1.343292,1.343743,1.343093,1.343292,1.343292,0

### create strategy

In [3]:
rsi_o2 = ta.Strategy(
    name = 'RSI 14 Days for opposite trade',
    description = 'RSI for alert',
    ta = [
        {'kind': 'ema', 'length': 200},
        {'kind': 'rsi', 'length': 14}
    ]
)

### create signal

In [70]:
df = data.copy()
df.ta.strategy(rsi_o2)

n_bars = 2  # number of latest bars to backword lookup

for i in range(n_bars):
    df['RSI_14_pre_'+str(i)] = df['RSI_14'].shift(i)
    df['EMA_200_pre_'+str(i)] = df['EMA_200'].shift(i)
    df['high_pre_'+str(i)] = df['high'].shift(i)
    df['low_pre_'+str(i)] = df['low'].shift(i)
 
df['action'] = np.nan

orders = pd.DataFrame(columns = ['action', 'open time', 'open', 'close time', 'close', 'result'])
previous_action = 'close'
order = {}
tp_gap = 0.001
sl_gap = 0.001
for index, row in df.iterrows():
    sell_point = 0
    buy_point = 0
    
    for i in range(n_bars):
        if (row['RSI_14_pre_'+str(i)] < 30 and row['EMA_200_pre_'+str(i)] > row['high_pre_'+str(i)]):
            sell_point = sell_point + 1
        elif (row['RSI_14_pre_'+str(i)] > 70 and row['EMA_200_pre_'+str(i)] < row['low_pre_'+str(i)]):
            buy_point = buy_point + 1

    if buy_point >= n_bars and previous_action == 'close':
        row['action'] = 'buy'
        order['action'] = 'buy'
        order['open time'] = row['timestamp']
        order['open'] = row['open']
        previous_action = 'buy'
    elif sell_point >= n_bars and previous_action == 'close':
        row['action'] = 'sell'
        order['action'] = 'sell'
        order['open time'] = row['timestamp']
        order['open'] = row['open']
        previous_action = 'sell'
        
    if previous_action == 'buy' and row['high'] >= order['open'] + tp_gap:
        order['result'] = 'TP'
        order['close time'] = row['timestamp']
        order['close'] = order['open'] + tp_gap
        previous_action = 'close'
        orders = orders.append(order, ignore_index = True)
        order = {}
    elif previous_action == 'buy' and row['low'] <= order['open'] - sl_gap:
        order['result'] = 'SL'
        order['close time'] = row['timestamp']
        order['close'] = order['open'] - sl_gap
        previous_action = 'close'
        orders = orders.append(order, ignore_index = True)
        order = {}
    elif previous_action == 'sell' and row['low'] <= order['open'] - tp_gap:
        order['result'] = 'TP'
        order['close time'] = row['timestamp']
        order['close'] = order['open'] - tp_gap
        previous_action = 'close'
        orders = orders.append(order, ignore_index = True)
        order = {}
    elif previous_action == 'sell' and row['high'] >= order['open'] + sl_gap:
        order['result'] = 'SL'
        order['close time'] = row['timestamp']
        order['close'] = order['open'] + sl_gap
        previous_action = 'close'
        orders = orders.append(order, ignore_index = True)
        order = {}

In [45]:
orders.tail()

,action,open time,open,close time,close,result
44,buy,2021-12-22 16:15:00+00:00,1.335809,2021-12-22 16:30:00+00:00,1.334809,SL
45,buy,2021-12-23 08:30:00+00:00,1.338563,2021-12-23 08:45:00+00:00,1.337563,SL
46,buy,2021-12-23 09:00:00+00:00,1.337990,2021-12-23 09:45:00+00:00,1.339490,TP
47,buy,2021-12-23 10:00:00+00:00,1.340249,2021-12-23 10:15:00+00:00,1.341749,TP
48,buy,2021-12-23 10:30:00+00:00,1.342102,2021-12-23 13:45:00+00:00,1.341102,SL

In [63]:
win_rate = len(orders[orders['result'] == 'TP']) * 100 / len(orders)
loss_rate = len(orders[orders['result'] == 'SL']) * 100 / len(orders)
print('n bars = 3, rr = 1 : 1.5\nwin rate: ' + str(win_rate) + '%\n' + 'loss rate: ' + str(loss_rate) + '%')

n bars = 3, rr = 1 : 1.5
win rate: 48.97959183673469%
loss rate: 51.02040816326531%

In [65]:
win_rate = len(orders[orders['result'] == 'TP']) * 100 / len(orders)
loss_rate = len(orders[orders['result'] == 'SL']) * 100 / len(orders)
print('n bars = 3, rr = 1 : 1.2\nwin rate: ' + str(win_rate) + '%\n' + 'loss rate: ' + str(loss_rate) + '%')

n bars = 3, rr = 1 : 1.2
win rate: 54.3859649122807%
loss rate: 45.6140350877193%

In [67]:
win_rate = len(orders[orders['result'] == 'TP']) * 100 / len(orders)
loss_rate = len(orders[orders['result'] == 'SL']) * 100 / len(orders)
print('n bars = 3, rr = 1 : 1\nwin rate: ' + str(win_rate) + '%\n' + 'loss rate: ' + str(loss_rate) + '%')

n bars = 3, rr = 1 : 1
win rate: 59.67741935483871%
loss rate: 40.32258064516129%

In [69]:
win_rate = len(orders[orders['result'] == 'TP']) * 100 / len(orders)
loss_rate = len(orders[orders['result'] == 'SL']) * 100 / len(orders)
print('n bars = 1, rr = 1 : 1\nwin rate: ' + str(win_rate) + '%\n' + 'loss rate: ' + str(loss_rate) + '%')

n bars = 1, rr = 1 : 1
win rate: 73.88059701492537%
loss rate: 26.119402985074625%

In [71]:
win_rate = len(orders[orders['result'] == 'TP']) * 100 / len(orders)
loss_rate = len(orders[orders['result'] == 'SL']) * 100 / len(orders)
print('n bars = 2, rr = 1 : 1\nwin rate: ' + str(win_rate) + '%\n' + 'loss rate: ' + str(loss_rate) + '%')

n bars = 2, rr = 1 : 1
win rate: 68.13186813186813%
loss rate: 31.86813186813187%

### backtest

In [ ]:
'''
=== Todo ===
[] import forex data from yohoo finance GBPUSD, EURUSD, USDJPY TF: 5min, 15min, 1hr, 4hr.
[/] backtest RSI_O2 strategy with forex.
[] get data from binance BTCUSDT, ETHUSDT, BNBUSDT, ADAUSDT, SHIBUSDT, GALAUSDT, UNIUSDT, CAKEUSDT, SOLUSDT, LUNAUSDT, DOTUSDT
   TF: 15min, 30min, 1hr, 4hr, 1day
[] create EMA_3_lines strategy.
[] backtest EMA_3_lines strategy with forex.
[] Get Free trial 30 days of Tradingview.
[] create bot pull data from yahoo finance because they can give us last 2 months.
'''