In [2]:
from bs4 import BeautifulSoup
import requests
import csv, time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np
import mplfinance as mpf

In [72]:
TECH_ETRON = ['CCET', 'DELTA', 'HANA', 'KCE', 'METCO', 'NEX', 'SMT', 'SVI', 'TEAM']
TECH_ICT = [
    'ADVANC', 'AIT', 'ALT', 'AMR', 'BLISS', 'DIF', 'DTAC', 'FORTH', 'HUMAN', 'ILINK', 'INET', 'INSET', \
    'INTUCH','ITEL', 'JAS', 'JASIF', 'JMART', 'JR', 'JTS', 'MFEC', 'MSC', 'PT', 'SAMART', 'SAMTEL', 'SDC', \
    'SIS', 'SKY', 'SVOA', 'SYMC', 'SYNEX', 'THCOM', 'TKC', 'TRUE', 'TWZ'
]

In [73]:
SERVICE_COMM = [
    'B52','BEAUTY','BIG','BJC','COM7','CPALL','CPW','CRC','CSS','DOHOME','FN','FTE','GLOBAL','HMPRO', \
    'ILM','IT','KAMART','LOXLEY','MAKRO','MC','MEGA','MIDA','RS','RSP','SABUY','SCM','SINGER','SPC', \
    'SPI','SVT'
]
SERVICE_HELTH = [
    'AHC', 'BCH', 'BDMS', 'BH', 'CHG', 'CMR', 'EKH', 'KDH', 'LPH', 'M-CHAI', 'NEW', 'NTV', 'PR9', \
    'PRINC', 'RAM', 'RJH', 'RPH', 'SKR', 'SVH', 'THG', 'VIBHA', 'VIH', 'WPH'
]
SERVICE_MEDIA = [
     'AMARIN', 'AQUA', 'AS', 'BEC', 'FE', 'GPI', 'GRAMMY', 'JKN', 'MACO', 'MAJOR', 'MATCH', 'MATI', 'MCOT', \
     'MONO', 'MPIC', 'NMG', 'ONEE',	 'PLANB', 'POST', 'PRAKIT', 'SE-ED', 'TBSP', 'TH', 'TKS', 'VGI', 'WAVE', \
     'WORK'
]
SERVICE_PROF = ['BWG', 'GENCO', 'PRO', 'SISB', 'SO']
SERVICE_TOURISM = [
    'ASIA', 'BEYOND', 'CENTEL', 'CSR', 'DUSIT', 'ERW', 'GRAND', 'LRH', 'MANRIN', \
    'OHTL', 'ROH',	'SHANG', 'SHR', 'VRANDA'
]
SERVICE_TRANS = [
    'AAV', 'AOT', 'ASIMAR', 'B', 'BA', 'BEM', 'BTS', 'BTSGIF', 'DMT', 'III', 'JUTHA', \
    'JWD', 'KEX', 'KIAT', 'KWC', 'MENA', 'NOK', 'NYT', 'PORT', 'PRM', 'PSL', 'RCL', \
    'TFFIF', 'THAI', 'TSTE', 'TTA', 'WICE'
]

In [74]:
RESOURC_ENERG = [
    '7UP', 'ABPIF', 'ACC', 'ACE', 'AGE', 'AI', 'AIE', 'AKR', 'BAFS', 'BANPU', 'BBGI', \
    'BCP', 'BCPG', 'BGRIM', 'BPP', 'BRRGIF', 'CKP', 'CV', 'DEMCO', 'EA', 'EASTW', 'EGATIF', \
    'EGCO', 'EP', 'ESSO', 'ETC', 'GPSC', 'GREEN', 'GULF', 'GUNKUL', 'IFEC', 'IRPC', 'KBSPIF', \
    'LANNA', 'MDX', 'OR', 'PRIME', 'PTG', 'PTT', 'PTTEP', 'QTC', 'RATCH', 'RPC', 'SCG', 'SCI', \
    'SCN', 'SGP', 'SKE', 'SOLAR', 'SPCG', 'SPRC', 'SSP', 'SUPER', 'SUPEREIF', 'SUSCO', 'TAE', \
    'TCC', 'TOP', 'TPIPP', 'TSE', 'TTW', 'UBE', 'WHAUP', 'WP'
]
RESOURC_MINE = ['THL']

In [75]:
def getResponseSoup(url):
    res = requests.get(url)
    time.sleep(2)
    res.encoding = "utf-8"
    if res.status_code == 200:
        pass
#         print("Successful")
    elif res.status_code == 404:
        print("Error 404 page not found")
    else:
        print("Not both 200 and 404")
        
    soup = BeautifulSoup(res.text, 'html.parser')
    return soup

In [15]:
stock = 'HUMAN'
url = f'https://www.set.or.th/set/companyhighlight.do?symbol={stock}&language=th&country=US'

test_soup = getResponseSoup(url)

In [19]:
table = test_soup.find('table', {'class': 'table table-hover table-info'})
table

<table class="table table-hover table-info">
<caption>
<span style="float: right;">(หน่วย: ล้านบาท)</span>
</caption>
<thead>
<tr align="center" valign="middle">
<th height="30"><strong>งวดงบการเงิน<br/> ณ วันที่</strong></th>
<th><strong>งบปี 61<br/>31/12/2561</strong></th>
<th><strong>งบปี 62<br/>31/12/2562</strong></th>
<th><strong>งบปี 63<br/>31/12/2563</strong></th>
<th><strong>งบปี 64<br/>31/12/2564</strong></th>
<th><strong> </strong></th>
</tr>
</thead>
<tbody>
<tr>
<td colspan="5" height="15" style="text-align:left;"><strong>บัญชีทางการเงินที่สำคัญ</strong></td>
<td style="background-color: #EAF0FE;"> </td>
</tr>
<tr>
<td height="15" style="text-align:left;" valign="middle">สินทรัพย์รวม</td>
<td>1,225.98  </td>
<td>1,372.78  </td>
<td>1,591.65  </td>
<td>1,770.01  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">หนี้สินรวม</td>
<td>106.34  </td>
<td>175.59  </td>
<td>324.80  </td>
<td>332.39  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">ส่วนของผู้ถือหุ้น</td>
<td>1,119.64  </td>
<td>1,197.19  </td>
<td>1,265.62  </td>
<td>1,432.02  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">มูลค่าหุ้นที่เรียกชำระแล้ว</td>
<td>340.00  </td>
<td>340.00  </td>
<td>340.00  </td>
<td>340.00  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">รายได้รวม</td>
<td>523.23  </td>
<td>613.86  </td>
<td>740.35  </td>
<td>770.49  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">กำไร (ขาดทุน) จากกิจกรรมอื่น</td>
<td>-  </td>
<td>1.93  </td>
<td>0.93  </td>
<td>0.01  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">กำไรสุทธิ</td>
<td>121.91  </td>
<td>146.98  </td>
<td>165.75  </td>
<td>169.82  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">กำไรต่อหุ้น (บาท)</td>
<td>0.18  </td>
<td>0.22  </td>
<td>0.24  </td>
<td>0.25  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td colspan="5" height="15" style="text-align:left;"><strong>อัตราส่วนทางการเงินที่สำคัญ</strong></td>
<td style="background-color: #EAF0FE;"> </td>
</tr>
<tr>
<td height="15" style="text-align:left;">ROA(%)</td>
<td>11.78  </td>
<td>12.52  </td>
<td>13.23  </td>
<td>11.62  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">ROE(%)</td>
<td>11.27  </td>
<td>12.69  </td>
<td>13.46  </td>
<td>12.59  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<tr>
<td height="15" style="text-align:left;">อัตรากำไรสุทธิ(%)</td>
<td>23.30  </td>
<td>23.94  </td>
<td>22.27  </td>
<td>21.46  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>
<thead>
<tr align="center" valign="middle">
<th height="30"><strong>ค่าสถิติสำคัญ<br/> ณ วันที่</strong></th>
<th><strong>28/12/2561</strong></th></tr></thead></tbody></table>

In [20]:
table_rows = table.find_all('tr')
table_rows

[<tr align="center" valign="middle">
 <th height="30"><strong>งวดงบการเงิน<br/> ณ วันที่</strong></th>
 <th><strong>งบปี 61<br/>31/12/2561</strong></th>
 <th><strong>งบปี 62<br/>31/12/2562</strong></th>
 <th><strong>งบปี 63<br/>31/12/2563</strong></th>
 <th><strong>งบปี 64<br/>31/12/2564</strong></th>
 <th><strong> </strong></th>
 </tr>,
 <tr>
 <td colspan="5" height="15" style="text-align:left;"><strong>บัญชีทางการเงินที่สำคัญ</strong></td>
 <td style="background-color: #EAF0FE;"> </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;" valign="middle">สินทรัพย์รวม</td>
 <td>1,225.98  </td>
 <td>1,372.78  </td>
 <td>1,591.65  </td>
 <td>1,770.01  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">หนี้สินรวม</td>
 <td>106.34  </td>
 <td>175.59  </td>
 <td>324.80  </td>
 <td>332.39  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">ส่วนของผู้ถือหุ้น</td>
 <td>1,119.64  </td>
 <td>1,197.19  </td>
 <td>1,265.62  </td>
 <td>1,432.02  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">มูลค่าหุ้นที่เรียกชำระแล้ว</td>
 <td>340.00  </td>
 <td>340.00  </td>
 <td>340.00  </td>
 <td>340.00  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">รายได้รวม</td>
 <td>523.23  </td>
 <td>613.86  </td>
 <td>740.35  </td>
 <td>770.49  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">กำไร (ขาดทุน) จากกิจกรรมอื่น</td>
 <td>-  </td>
 <td>1.93  </td>
 <td>0.93  </td>
 <td>0.01  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">กำไรสุทธิ</td>
 <td>121.91  </td>
 <td>146.98  </td>
 <td>165.75  </td>
 <td>169.82  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">กำไรต่อหุ้น (บาท)</td>
 <td>0.18  </td>
 <td>0.22  </td>
 <td>0.24  </td>
 <td>0.25  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td colspan="5" height="15" style="text-align:left;"><strong>อัตราส่วนทางการเงินที่สำคัญ</strong></td>
 <td style="background-color: #EAF0FE;"> </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">ROA(%)</td>
 <td>11.78  </td>
 <td>12.52  </td>
 <td>13.23  </td>
 <td>11.62  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">ROE(%)</td>
 <td>11.27  </td>
 <td>12.69  </td>
 <td>13.46  </td>
 <td>12.59  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr>
 <td height="15" style="text-align:left;">อัตรากำไรสุทธิ(%)</td>
 <td>23.30  </td>
 <td>23.94  </td>
 <td>22.27  </td>
 <td>21.46  </td>
 <td style="background-color: #EAF0FE;">  </td>
 </tr>,
 <tr align="center" valign="middle">
 <th height="30"><strong>ค่าสถิติสำคัญ<br/> ณ วันที่</strong></th>
 <th><strong>28/12/2561</strong></th></tr>]

In [21]:
"""
Symbol, Asset, Liabilities, Equity, Revenue, ROE(%), Net Profit Margin(%), P/E, P/BV, Year, Industry, Sector
"""

'\nSymbol, Liabilities, Equity, Revenue, ROE(%), Net Profit Margin(%), P/E, P/BV, Year, Industry, Sector\n'

In [22]:
def getRowsValue(rows):
    for i, v in enumerate(rows):
        print(float(''.join(v.string.split(','))))

In [23]:
table_rows[2]

<tr>
<td height="15" style="text-align:left;" valign="middle">สินทรัพย์รวม</td>
<td>1,225.98  </td>
<td>1,372.78  </td>
<td>1,591.65  </td>
<td>1,770.01  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>

In [24]:
for i, v in enumerate(table_rows[2].find_all('td')[1:-1]):
    print(float(''.join(v.string.split(','))))

1225.98
1372.78
1591.65
1770.01

In [13]:
table_rows[3]

<tr>
<td height="15" style="text-align:left;">หนี้สินรวม</td>
<td>106.34  </td>
<td>175.59  </td>
<td>324.80  </td>
<td>332.39  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>

In [35]:
getRowsValue(table_rows[3].find_all('td')[1:-1])

106.34
175.59
324.8
332.39

In [39]:
float(''.join(table_rows[3].find_all('td')[1].string.split(',')))

106.34

In [14]:
table_rows[4]

<tr>
<td height="15" style="text-align:left;">ส่วนของผู้ถือหุ้น</td>
<td>1,119.64  </td>
<td>1,197.19  </td>
<td>1,265.62  </td>
<td>1,432.02  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>

In [15]:
table_rows[6]

<tr>
<td height="15" style="text-align:left;">รายได้รวม</td>
<td>523.23  </td>
<td>613.86  </td>
<td>740.35  </td>
<td>770.49  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>

In [16]:
table_rows[12]

<tr>
<td height="15" style="text-align:left;">ROE(%)</td>
<td>11.27  </td>
<td>12.69  </td>
<td>13.46  </td>
<td>12.59  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>

In [17]:
table_rows[13]

<tr>
<td height="15" style="text-align:left;">อัตรากำไรสุทธิ(%)</td>
<td>23.30  </td>
<td>23.94  </td>
<td>22.27  </td>
<td>21.46  </td>
<td style="background-color: #EAF0FE;">  </td>
</tr>

In [18]:
outside = ['HUMAN','HUMAN','HUMAN','HUMAN','HUMAN']
inside = [2018,2019,2020,2021,2022] #,2018,2019,2020,2021]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('HUMAN', 2018),
            ('HUMAN', 2019),
            ('HUMAN', 2020),
            ('HUMAN', 2021),
            ('HUMAN', 2022)],
           )

In [29]:
stock_data = {'Asset': [], 'Liabilities': []}
for i, v in enumerate(table_rows[2].find_all('td')[1:]):
    if (not (v.string and v.string.strip())) or (v.string == '-'):
        stock_data['Asset'].append(0)
    else:
        stock_data['Asset'].append(float(''.join(v.string.split(','))))
    
for i, v in enumerate(table_rows[3].find_all('td')[1:]):
    if (not (v.string and v.string.strip())) or (v.string == '-'):
        stock_data['Liabilities'].append(0)
    else:
        stock_data['Liabilities'].append(float(''.join(v.string.split(','))))
    
stock_data

{'Asset': [1225.98, 1372.78, 1591.65, 1770.01, 0],
 'Liabilities': [106.34, 175.59, 324.8, 332.39, 0]}

In [30]:
df = pd.DataFrame(data=stock_data,index=hier_index)
df

              Asset  Liabilities
HUMAN 2018  1225.98       106.34
      2019  1372.78       175.59
      2020  1591.65       324.80
      2021  1770.01       332.39
      2022     0.00         0.00

In [32]:
df.to_csv(index=True)

',,Asset,Liabilities\r\nHUMAN,2018,1225.98,106.34\r\nHUMAN,2019,1372.78,175.59\r\nHUMAN,2020,1591.65,324.8\r\nHUMAN,2021,1770.01,332.39\r\nHUMAN,2022,0.0,0.0\r\n'

In [61]:
d = {'a': [1, 2], 'b': ['a', 'b']}
e = {'a': [3, 4], 'b': ['c', 'd']}

d['a'] = d['a'] + e['a']
d['b'] = d['b'] + e['b']
d

e = [2022-i for i in range(5)]
e.reverse()
e

[2018, 2019, 2020, 2021, 2022]

In [81]:
def getStockData(symbol, industry = '', sector = ''):
    
    url = f'https://www.set.or.th/set/companyhighlight.do?symbol={symbol}&language=th&country=US'
    soup = getResponseSoup(url)
    table = soup.find('table', {'class': 'table table-hover table-info'})
    table_rows = table.find_all('tr')
    
    len_col = len(table_rows[2].find_all('td')[1:])
    years = [2022-i for i in range(len_col)]
    years.reverse()
    
    stock_data = {
        'Symbol': [symbol for i in range(len_col)],
        'Assets': [],
        'Liabilities': [],
        'Equity': [],
        'Paid-up Capital': [],
        'Revenue': [],
        'Net Profit': [],
        'EPS (Baht)': [],
        'ROA(%)': [],
        'ROE(%)': [],
        'Net Profit Margin(%)': [],
#         'P/E': [],
#         'P/BV': [],
#         'Book Value per share (Baht)': [],
#         'Dvd. Yield(%)': [],
        'Year': years, 
        'Industry': [industry for i in range(len_col)], 
        'Sector': [sector for i in range(len_col)]
    }
    
    for i, v in enumerate(table_rows[2].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Assets'].append(0)
        else:
            stock_data['Assets'].append(float(''.join(v.string.split(','))))

    for i, v in enumerate(table_rows[3].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Liabilities'].append(0)
        else:
            stock_data['Liabilities'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[4].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Equity'].append(0)
        else:
            stock_data['Equity'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[5].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Paid-up Capital'].append(0)
        else:
            stock_data['Paid-up Capital'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[6].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Revenue'].append(0)
        else:
            stock_data['Revenue'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[8].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Net Profit'].append(0)
        else:
            stock_data['Net Profit'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[9].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['EPS (Baht)'].append(0)
        else:
            stock_data['EPS (Baht)'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[11].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['ROA(%)'].append(0)
        else:
            stock_data['ROA(%)'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[12].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['ROE(%)'].append(0)
        else:
            stock_data['ROE(%)'].append(float(''.join(v.string.split(','))))
            
    for i, v in enumerate(table_rows[13].find_all('td')[1:]):
        if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
            stock_data['Net Profit Margin(%)'].append(0)
        else:
            stock_data['Net Profit Margin(%)'].append(float(''.join(v.string.split(','))))
            
#     for i, v in enumerate(table_rows[18].find_all('td')[1:]):
#         if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
#             stock_data['P/E'].append(0)
#         else:
#             stock_data['P/E'].append(float(''.join(v.string.split(','))))
            
#     for i, v in enumerate(table_rows[19].find_all('td')[1:]):
#         if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
#             stock_data['P/BV'].append(0)
#         else:
#             stock_data['P/BV'].append(float(''.join(v.string.split(','))))
            
#     for i, v in enumerate(table_rows[20].find_all('td')[1:]):
#         if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
#             stock_data['Book Value per share (Baht)'].append(0)
#         else:
#             stock_data['Book Value per share (Baht)'].append(float(''.join(v.string.split(','))))
            
#     for i, v in enumerate(table_rows[21].find_all('td')[1:]):
#         if (not (v.string and v.string.strip())) or (v.string.strip() == '-') or (v.string.strip() == 'N/A') or (v.string.strip() == 'N.A.'):
#             stock_data['Dvd. Yield(%)'].append(0)
#         else:
#             stock_data['Dvd. Yield(%)'].append(float(''.join(v.string.split(','))))
            
    return stock_data

In [67]:
st1 = getStockData('HUMAN', industry = 'TECH', sector = 'ICT')
st2 = getStockData('SVT', industry = 'SERVICE', sector = 'COMM')

st2

{'Symbol': ['SVT', 'SVT', 'SVT'],
 'Assets': [1089.74, 1485.12, 0],
 'Liabilities': [477.31, 333.62, 0],
 'Equity': [612.43, 1151.5, 0],
 'Paid-up Capital': [450.0, 700.0, 0],
 'Revenue': [1767.36, 1963.32, 0],
 'Net Profit': [65.15, 66.69, 0],
 'EPS (Baht)': [1.44, 0.12, 0],
 'ROA(%)': [6.4, 7.01, 0],
 'ROE(%)': [10.64, 7.56, 0],
 'Net Profit Margin(%)': [3.69, 3.4, 0],
 'Year': [2020, 2021, 2022],
 'Industry': ['SERVICE', 'SERVICE', 'SERVICE'],
 'Sector': ['COMM', 'COMM', 'COMM']}

In [68]:
df1 = pd.DataFrame(data=st1)
df1

,Symbol,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Net Profit,EPS (Baht),ROA(%),ROE(%),Net Profit Margin(%),Year,Industry,Sector
0,HUMAN,1225.98,106.34,1119.64,340.0,523.23,121.91,0.18,11.78,11.27,23.30,2018,TECH,ICT
1,HUMAN,1372.78,175.59,1197.19,340.0,613.86,146.98,0.22,12.52,12.69,23.94,2019,TECH,ICT
2,HUMAN,1591.65,324.80,1265.62,340.0,740.35,165.75,0.24,13.23,13.46,22.27,2020,TECH,ICT
3,HUMAN,1770.01,332.39,1432.02,340.0,770.49,169.82,0.25,11.62,12.59,21.46,2021,TECH,ICT
4,HUMAN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2022,TECH,ICT

In [69]:
df2 = pd.DataFrame(data=st2)
df2

,Symbol,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Net Profit,EPS (Baht),ROA(%),ROE(%),Net Profit Margin(%),Year,Industry,Sector
0,SVT,1089.74,477.31,612.43,450.0,1767.36,65.15,1.44,6.40,10.64,3.69,2020,SERVICE,COMM
1,SVT,1485.12,333.62,1151.50,700.0,1963.32,66.69,0.12,7.01,7.56,3.40,2021,SERVICE,COMM
2,SVT,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,COMM

In [70]:
df1.append(df2, ignore_index=True)

,Symbol,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Net Profit,EPS (Baht),ROA(%),ROE(%),Net Profit Margin(%),Year,Industry,Sector
0,HUMAN,1225.98,106.34,1119.64,340.0,523.23,121.91,0.18,11.78,11.27,23.30,2018,TECH,ICT
1,HUMAN,1372.78,175.59,1197.19,340.0,613.86,146.98,0.22,12.52,12.69,23.94,2019,TECH,ICT
2,HUMAN,1591.65,324.80,1265.62,340.0,740.35,165.75,0.24,13.23,13.46,22.27,2020,TECH,ICT
3,HUMAN,1770.01,332.39,1432.02,340.0,770.49,169.82,0.25,11.62,12.59,21.46,2021,TECH,ICT
4,HUMAN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2022,TECH,ICT
5,SVT,1089.74,477.31,612.43,450.0,1767.36,65.15,1.44,6.40,10.64,3.69,2020,SERVICE,COMM
6,SVT,1485.12,333.62,1151.50,700.0,1963.32,66.69,0.12,7.01,7.56,3.40,2021,SERVICE,COMM
7,SVT,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,COMM

In [102]:
stocks = pd.DataFrame(columns = [
        'Symbol',
        'Assets',
        'Liabilities',
        'Equity',
        'Paid-up Capital',
        'Revenue',
        'Net Profit',
        'EPS (Baht)',
        'ROA(%)',
        'ROE(%)',
        'Net Profit Margin(%)',
#         'P/E',
#         'P/BV',
#         'Book Value per share (Baht)',
#         'Dvd. Yield(%)',
        'Year', 
        'Industry', 
        'Sector'
])

for stock in SERVICE_PROF: # ['BWG', 'GENCO', 'PRO', 'SISB', 'SO']
    print(stock)
    stock_dict = getStockData(stock, industry = 'SERVICE', sector = 'PROF')
    stock_df = pd.DataFrame(data=stock_dict)
    stocks = stocks.append(stock_df, ignore_index=True)
print('done...')

BWG
GENCO
PRO
SISB
SO
done...

In [103]:
stocks

,Symbol,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Net Profit,EPS (Baht),ROA(%),ROE(%),Net Profit Margin(%),Year,Industry,Sector
0,BWG,6851.50,2974.67,3277.46,958.03,2470.28,233.99,0.06,6.90,7.28,11.70,2018,SERVICE,PROF
1,BWG,7356.43,3759.45,3054.71,958.03,1905.05,-20.63,-0.01,1.83,-0.65,0.88,2019,SERVICE,PROF
2,BWG,8846.77,3670.46,3548.10,1037.78,1928.49,-180.62,-0.05,1.28,-5.47,-2.71,2020,SERVICE,PROF
3,BWG,8321.56,2885.88,3678.68,1137.78,2212.81,-165.53,-0.04,1.34,-4.58,-1.46,2021,SERVICE,PROF
4,BWG,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,PROF
5,GENCO,1650.97,209.48,1441.48,1122.30,492.85,119.43,0.11,9.69,8.59,24.23,2018,SERVICE,PROF
6,GENCO,1566.96,183.53,1383.43,1122.30,298.03,-34.81,-0.03,-1.86,-2.46,-11.68,2019,SERVICE,PROF
7,GENCO,1527.53,203.02,1324.51,1122.30,287.85,-47.75,-0.04,-2.60,-3.53,-16.59,2020,SERVICE,PROF
8,GENCO,1508.23,175.20,1333.03,1122.30,242.71,5.76,0.01,0.67,0.43,2.37,2021,SERVICE,PROF
9,GENCO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,PROF
10,PRO,514.15,174.66,339.97,1417.56,271.64,33.43,0.02,6.70,10.33,12.30,2018,SERVICE,PROF
11,PRO,643.77,190.82,453.46,1417.56,317.22,115.11,0.06,21.25,29.02,36.28,2019,SERVICE,PROF
12,PRO,642.87,192.37,451.03,1417.56,214.84,-0.87,0.00,-0.08,-0.19,-0.42,2020,SERVICE,PROF
13,PRO,763.40,198.35,565.60,1417.56,305.12,113.88,0.06,13.31,22.40,37.31,2021,SERVICE,PROF
14,PRO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,PROF
15,SISB,2425.31,827.29,1598.02,470.00,947.35,103.52,0.16,6.69,11.60,10.93,2018,SERVICE,PROF
16,SISB,2700.66,881.77,1818.89,470.00,1129.21,220.87,0.23,8.82,12.93,19.56,2019,SERVICE,PROF
17,SISB,3166.15,1288.99,1877.16,470.00,1076.53,159.93,0.17,6.32,8.65,14.86,2020,SERVICE,PROF
18,SISB,3333.70,1319.24,2014.47,470.00,1075.18,208.75,0.22,7.21,10.73,19.42,2021,SERVICE,PROF
19,SISB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,PROF
20,SO,1089.92,774.04,315.88,225.00,1934.03,109.06,0.48,13.11,34.52,5.64,2019,SERVICE,PROF
21,SO,1534.65,665.47,869.18,310.00,2043.24,139.55,0.57,14.05,23.55,6.83,2020,SERVICE,PROF
22,SO,1539.70,587.82,951.88,372.00,2096.69,168.26,0.45,13.71,18.48,8.03,2021,SERVICE,PROF
23,SO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2022,SERVICE,PROF

In [104]:
stocks.to_csv('test_stock.csv', index=False)