### EMA and CCI Strategy

In [1]:
import time
from datetime import datetime
import vectorbt as vbt

import pandas as pd
import pandas_ta as ta
import numpy as np
import mplfinance as mpf

### Import CSV

In [11]:
data = pd.read_csv('GBPUSD_15m.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
11920,2022-04-29 16:45:00+01:00,1.256329,1.256929,1.256187,1.256581,1.256581,0
11921,2022-04-29 17:00:00+01:00,1.256329,1.256644,1.255824,1.255950,1.255950,0
11922,2022-04-29 17:15:00+01:00,1.256281,1.257719,1.256281,1.256787,1.256787,0
11923,2022-04-29 17:30:00+01:00,1.256266,1.257150,1.256266,1.256913,1.256913,0
11924,2022-04-29 17:45:00+01:00,1.256992,1.257656,1.256676,1.257450,1.257450,0

In [12]:
df = data.copy()

### Create strategy

In [13]:
ema_cci = ta.Strategy(
    name = 'EMA and CCI',
    description = 'EMA and CCI Strategy',
    ta = [
        {'kind': 'cci', 'length': 50, 'c': 0.015},
        {'kind': 'ema', 'length': 15},
        {'kind': 'ema', 'length': 25}
    ]
)
df.ta.strategy(ema_cci)
df

,timestamp,open,high,low,close,adj close,volumn,CCI_50_0.015,EMA_15,EMA_25
0,2021-11-04 17:00:00+00:00,1.349364,1.349364,1.348418,1.348963,1.348963,0,NaN,NaN,NaN
1,2021-11-04 17:15:00+00:00,1.349000,1.349400,1.348981,1.349273,1.349273,0,NaN,NaN,NaN
2,2021-11-04 17:30:00+00:00,1.349400,1.349437,1.348563,1.349109,1.349109,0,NaN,NaN,NaN
3,2021-11-04 17:45:00+00:00,1.348781,1.349273,1.348527,1.349273,1.349273,0,NaN,NaN,NaN
4,2021-11-04 18:00:00+00:00,1.349382,1.349546,1.349182,1.349546,1.349546,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11920,2022-04-29 16:45:00+01:00,1.256329,1.256929,1.256187,1.256581,1.256581,0,73.552861,1.255611,1.255292
11921,2022-04-29 17:00:00+01:00,1.256329,1.256644,1.255824,1.255950,1.255950,0,59.118419,1.255654,1.255343
11922,2022-04-29 17:15:00+01:00,1.256281,1.257719,1.256281,1.256787,1.256787,0,84.364797,1.255795,1.255454
11923,2022-04-29 17:30:00+01:00,1.256266,1.257150,1.256266,1.256913,1.256913,0,78.786998,1.255935,1.255566
11924,2022-04-29 17:45:00+01:00,1.256992,1.257656,1.256676,1.257450,1.257450,0,96.789381,1.256124,1.255711

In [7]:
df[df['CCI_50_0.015'] < -100]

,timestamp,open,high,low,close,adj close,volumn,CCI_50_0.015,EMA_15,EMA_25
60,2021-11-05 08:00:00+00:00,1.350311,1.350311,1.347346,1.347836,1.347836,0,-160.964758,1.349626,1.349604
61,2021-11-05 08:15:00+00:00,1.347001,1.347618,1.346167,1.346674,1.346674,0,-350.807523,1.349257,1.349378
62,2021-11-05 08:30:00+00:00,1.346801,1.347309,1.345641,1.345641,1.345641,0,-378.421680,1.348805,1.349091
63,2021-11-05 08:45:00+00:00,1.345316,1.346493,1.345062,1.345062,1.345062,0,-393.989439,1.348337,1.348781
64,2021-11-05 09:00:00+00:00,1.345551,1.345551,1.344050,1.344393,1.344393,0,-401.465306,1.347844,1.348444
...,...,...,...,...,...,...,...,...,...,...
11816,2022-04-28 14:45:00+01:00,1.243286,1.244153,1.242900,1.243626,1.243626,0,-145.161877,1.245463,1.247125
11817,2022-04-28 15:00:00+01:00,1.243394,1.243425,1.242005,1.242082,1.242082,0,-153.967180,1.245040,1.246737
11818,2022-04-28 15:15:00+01:00,1.242190,1.243565,1.241989,1.243565,1.243565,0,-133.963756,1.244856,1.246493
11819,2022-04-28 15:30:00+01:00,1.243147,1.243147,1.241511,1.242390,1.242390,0,-137.017768,1.244547,1.246178
11820,2022-04-28 15:45:00+01:00,1.242360,1.244060,1.241203,1.243982,1.243982,0,-116.430377,1.244477,1.246009

### Create Signal