### EMA 3 lines strategy

In [1]:
import time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np

### import csv

In [2]:
data = pd.read_csv('GBPUSD_15m_2022_01_03.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
3894,2021-12-31 21:00:00+00:00,1.352759,1.353162,1.352759,1.353162,1.353162,0
3895,2021-12-31 21:15:00+00:00,1.353015,1.353107,1.352430,1.352430,1.352430,0
3896,2021-12-31 21:30:00+00:00,1.352265,1.352558,1.352265,1.352375,1.352375,0
3897,2021-12-31 21:45:00+00:00,1.352375,1.353675,1.352320,1.353491,1.353491,0
3898,2021-12-31 22:00:00+00:00,1.353180,1.353180,1.353180,1.353180,1.353180,0

In [14]:
df = data.copy()

### Create strategy

In [15]:
ema_3lines = ta.Strategy(
    name = 'EMA 3 Lines',
    description = 'EMA 3 Line',
    ta = [
        {'kind': 'ema', 'length': 200},
        {'kind': 'ema', 'length': 8},
        {'kind': 'ema', 'length': 15},
        {'kind': 'ema', 'length': 24},
    ]
)

In [11]:
"""
Grid parameter example
line 1: 2 -> 30
line 2: 10 -> 50
line 3: 20 -> 80
condition line 1 < line 2 < line 3
"""
def create_grid_params(line1_start, line1_end, line2_start, line2_end, line3_start, line3_end):
    params = []
    for i in range(line1_start, line1_end+1):
        for j in range(line2_start, line2_end+1):
            for k in range(line3_start, line3_end+1):
                if( i < j < k ):
                    params.append([i, j, k])
    return params

grid = CreateGridParams(2, 30, 10, 50, 20, 80)
len(grid)

44340

### Create signal

In [21]:
def backtest_ema_3lines(df, params=[8, 15, 24], n=3, tp=0.001, sl=0.001):
    n_bars = n  # number of latest bars to backword lookup
    ema_3lines = ta.Strategy(
        name = 'EMA 3 Lines',
        description = 'EMA 3 Line',
        ta = [
            {'kind': 'ema', 'length': 200},
            {'kind': 'ema', 'length': params[0]},
            {'kind': 'ema', 'length': params[1]},
            {'kind': 'ema', 'length': params[2]},
        ]
    )
    
    df.ta.strategy(ema_3lines)
    df['action'] = np.nan
    orders = pd.DataFrame(columns = ['action', 'open time', 'open', 'close time', 'close', 'result'])
    previous_action = 'close'
    
    order = {}
    tp_gap = tp
    sl_gap = sl
    
    return df
    
df_test = backtest_ema_3lines(df)
df_test.tail()

,timestamp,open,high,low,close,adj close,volumn,EMA_200,EMA_8,EMA_15,EMA_24,action
3894,2021-12-31 21:00:00+00:00,1.352759,1.353162,1.352759,1.353162,1.353162,0,1.349626,1.353193,1.353170,1.352895,NaN
3895,2021-12-31 21:15:00+00:00,1.353015,1.353107,1.352430,1.352430,1.352430,0,1.349654,1.353023,1.353077,1.352857,NaN
3896,2021-12-31 21:30:00+00:00,1.352265,1.352558,1.352265,1.352375,1.352375,0,1.349681,1.352879,1.352990,1.352819,NaN
3897,2021-12-31 21:45:00+00:00,1.352375,1.353675,1.352320,1.353491,1.353491,0,1.349719,1.353015,1.353052,1.352873,NaN
3898,2021-12-31 22:00:00+00:00,1.353180,1.353180,1.353180,1.353180,1.353180,0,1.349753,1.353052,1.353068,1.352897,NaN