### Gloden cross strategy

In [1]:
import time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np
import mplfinance as mpf

### import csv

In [2]:
data = pd.read_csv('EURUSD_15m_2022_01_03.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
3501,2021-12-31 20:45:00+00:00,1.138952,1.139212,1.138174,1.138174,1.138174,0
3502,2021-12-31 21:00:00+00:00,1.138045,1.138304,1.137915,1.138174,1.138174,0
3503,2021-12-31 21:30:00+00:00,1.138174,1.138174,1.138045,1.138045,1.138045,0
3504,2021-12-31 21:45:00+00:00,1.138174,1.138563,1.137010,1.137268,1.137268,0
3505,2021-12-31 22:00:00+00:00,1.137268,1.137268,1.137268,1.137268,1.137268,0

In [3]:
df = data.copy()

### Create strategy

In [5]:
gloden_cross = ta.Strategy(
    name = 'Gloden cross',
    description = 'Gloden cross by EMA 2 Line',
    ta = [
        {'kind': 'ema', 'length': 200},
        {'kind': 'ema', 'length': 10},
        {'kind': 'ema', 'length': 50}
    ]
)

### Create signal

In [8]:
class BacktestGlodenCross:
    def __init__(self, params):
        self.pair = params['pair']
        self.orders = pd.DataFrame(columns = ['action', 'open time', 'open', 'close time', 'close', 'T/P', 'S/L', 'result'])
        self.order = {'action': None, 'open time': None, 'open': None, 'close time': None, \
                      'close': None, 'T/P': None, 'S/L': None,'result': None}
        self.unknow_result = []
        
        self.current_action = 'close'
        self.atr_len = params['atr_len']
        self.ema_1 = params['ema_1']
        self.ema_2 = params['ema_2']
        
        self.n_bars = params['n_bars']
        self.pip_value = params['pip_value']
        self.rr = params['rr']
        self.df = params['df']
        
    def backtest(self):
        n_bars = 3
        gloden_cross = ta.Strategy(
            name = 'Gloden cross',
            description = 'Gloden cross by EMA 2 Line',
            ta = [
                {'kind': 'ema', 'length': 200},
                {'kind': 'ema', 'length': self.ema_1},
                {'kind': 'ema', 'length': self.ema_2}
            ]
        )
        self.df.ta.strategy(gloden_cross)
        # drop na 
        
        for index, row in self.df.iterrows():
            entry = 0
            
            if self.current_action == 'close':
            
                if (row['EMA_'+str(self.ema_1)] > row['EMA_'+str(self.ema_2)]) and (row['low'] > row['EMA_'+str(200)]):
                    # check if previous n bars ema_1 <= ema_2 then buy.
                    pass
                        
                elif (row['EMA_'+str(self.ema_1)] < row['EMA_'+str(self.ema_2)]) and (row['high'] < row['EMA_'+str(200)]):
                    # check if previous n bars ema_1 >= ema_2 then sell.
                    pass