### Parabolic sar reversal strategy

In [1]:
import time
from datetime import datetime
import vectorbt as vbt

import pandas as pd
import pandas_ta as ta
import numpy as np
import mplfinance as mpf

### Import CSV

In [2]:
data = pd.read_csv('GBPUSD_15m.csv')
data.tail()

,timestamp,open,high,low,close,adj close,volumn
11920,2022-04-29 16:45:00+01:00,1.256329,1.256929,1.256187,1.256581,1.256581,0
11921,2022-04-29 17:00:00+01:00,1.256329,1.256644,1.255824,1.255950,1.255950,0
11922,2022-04-29 17:15:00+01:00,1.256281,1.257719,1.256281,1.256787,1.256787,0
11923,2022-04-29 17:30:00+01:00,1.256266,1.257150,1.256266,1.256913,1.256913,0
11924,2022-04-29 17:45:00+01:00,1.256992,1.257656,1.256676,1.257450,1.257450,0

In [3]:
df = data.copy()

### Create strategy

In [5]:
parabolic_sar = ta.Strategy(
    name = 'Parabolic Sar',
    description = 'Parabolic Sar Reversal',
    ta = [
        {'kind': 'psar', 'af0': 0.02, 'af':0.02, 'max_af':0.2},
        {'kind': 'ema', 'length': 200},
        {'kind': 'atr', 'length': 14}
    ]
)
df.ta.strategy(parabolic_sar)
df

,timestamp,open,high,low,close,adj close,volumn,PSARl_0.02_0.2,PSARs_0.02_0.2,PSARaf_0.02_0.2,PSARr_0.02_0.2,EMA_200,ATRr_14
0,2021-11-04 17:00:00+00:00,1.349364,1.349364,1.348418,1.348963,1.348963,0,NaN,NaN,0.02,0,NaN,NaN
1,2021-11-04 17:15:00+00:00,1.349000,1.349400,1.348981,1.349273,1.349273,0,1.256676,NaN,0.04,0,NaN,NaN
2,2021-11-04 17:30:00+00:00,1.349400,1.349437,1.348563,1.349109,1.349109,0,1.260385,NaN,0.06,0,NaN,NaN
3,2021-11-04 17:45:00+00:00,1.348781,1.349273,1.348527,1.349273,1.349273,0,1.265728,NaN,0.06,0,NaN,NaN
4,2021-11-04 18:00:00+00:00,1.349382,1.349546,1.349182,1.349546,1.349546,0,1.270751,NaN,0.08,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11920,2022-04-29 16:45:00+01:00,1.256329,1.256929,1.256187,1.256581,1.256581,0,1.253523,NaN,0.04,0,1.253354,0.001462
11921,2022-04-29 17:00:00+01:00,1.256329,1.256644,1.255824,1.255950,1.255950,0,1.253667,NaN,0.04,0,1.253380,0.001416
11922,2022-04-29 17:15:00+01:00,1.256281,1.257719,1.256281,1.256787,1.256787,0,1.253805,NaN,0.06,0,1.253413,0.001441
11923,2022-04-29 17:30:00+01:00,1.256266,1.257150,1.256266,1.256913,1.256913,0,1.254040,NaN,0.06,0,1.253448,0.001401
11924,2022-04-29 17:45:00+01:00,1.256992,1.257656,1.256676,1.257450,1.257450,0,1.254260,NaN,0.06,0,1.253488,0.001371