In [65]:
import os
from dotenv import load_dotenv
import time
from datetime import datetime
import schedule
import requests

import pandas as pd
import pandas_ta as ta
import numpy as np

from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.foreignexchange import ForeignExchange
load_dotenv()

True

In [68]:
API_KEYS = os.getenv('ALPHA_KEYS')
cc = ForeignExchange(key=API_KEYS)

LINE_TOKEN = os.getenv('LINE_TOKEN')
LINE_URL = 'https://notify-api.line.me/api/notify'
LINE_HEADERS = {'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer ' + LINE_TOKEN }

In [69]:
data, _ = cc.get_currency_exchange_rate(from_currency='EUR',to_currency='USD')
ts = TimeSeries(key=API_KEYS, output_format='pandas')

In [70]:
data

{'1. From_Currency Code': 'EUR',
 '2. From_Currency Name': 'Euro',
 '3. To_Currency Code': 'USD',
 '4. To_Currency Name': 'United States Dollar',
 '5. Exchange Rate': '1.13271000',
 '6. Last Refreshed': '2021-12-27 15:13:01',
 '7. Time Zone': 'UTC',
 '8. Bid Price': '1.13271000',
 '9. Ask Price': '1.13271000'}

In [10]:
data_ts,_ = ts.get_intraday(symbol='EURUSD',interval='30min', outputsize='compact')
data_ts

                     1. open  2. high  3. low  4. close  5. volume
date
2021-12-24 05:00:00   1.1340   1.1341  1.1338    1.1341        0.0
2021-12-24 04:30:00   1.1336   1.1342  1.1334    1.1340        0.0
2021-12-24 04:00:00   1.1335   1.1341  1.1333    1.1336        0.0
2021-12-24 03:30:00   1.1331   1.1336  1.1329    1.1334        0.0
2021-12-24 03:00:00   1.1332   1.1332  1.1329    1.1331        0.0
...                      ...      ...     ...       ...        ...
2021-12-22 05:30:00   1.1283   1.1298  1.1279    1.1294        0.0
2021-12-22 05:00:00   1.1274   1.1285  1.1269    1.1283        0.0
2021-12-22 04:30:00   1.1273   1.1280  1.1269    1.1274        0.0
2021-12-22 04:00:00   1.1272   1.1275  1.1267    1.1273        0.0
2021-12-22 03:30:00   1.1267   1.1277  1.1264    1.1271        0.0

[100 rows x 5 columns]

In [71]:
### line alert function
def notifyMsg(*msg, url=LINE_URL, headers=LINE_HEADERS):
    r = requests.post(url, headers=headers, data={'message': msg[0]})
    print(r.text)

{"status":200,"message":"ok"}

In [59]:
### create technical strategy
rsi_o2 = ta.Strategy(
    name = 'RSI 14 Days for opposite trade',
    description = 'RSI for alert',
    ta = [
        {'kind': 'ema', 'length': 200},
        {'kind': 'rsi', 'length': 14}
    ]
)

In [35]:
def get_realtime(pair='EURUSD', tf='15min'):
    bars, _ = ts.get_intraday(symbol='EURUSD',interval='15min',  outputsize='full')
    df = pd.DataFrame({
        'timestamp': data_test.index,
        'open': data_test['1. open'],
        'high': data_test['2. high'],
        'low': data_test['3. low'],
        'close': data_test['4. close'],
        'volumn': data_test['5. volume']
    }) # convert alpha vantage data to use with rsi strategy
    
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
    df = df.iloc[::-1] # reverse row
    df.reset_index(drop=True, inplace=True)
    df.ta.strategy(rsi_o2)
    
    # loop count latest n bars that rsi < 30 or rsi > 70
    sell_point = 0
    buy_point = 0
    n_bars = 3  # number of latest bars to backword lookup
    for index, row in df.tail(n_bars).iterrows():
        if (row['RSI_14'] < 30 and row['EMA_200'] > row['high']): # rsi < 30 and ema 200 > high price then send buy signal
            buy_point = buy_point + 1
        elif (row['RSI_14'] > 70 and row['EMA_200'] < row['low']): # if rsi > 70 and ema 200 < low price then send sell signal
            sell_point = sell_point + 1
    
        if buy_point >= n_bars:
            notifyMsg('Buy EURUSD price: ' + str(row['open']))
        elif buy_point >= n_bars:
            notifyMsg('Sell EURUSD price: ' + str(row['open']))
    
get_realtime()

1.1325 1.1328
1.133 1.1328
1.1328 1.132

In [60]:
### loop get latest 200 candles then monitor signal and alert
dataEUR, _ = ts.get_intraday(symbol='EURUSD',interval='15min',  outputsize='full')
data_test = dataEUR
df1 = pd.DataFrame({
    'timestamp': data_test.index,
    'open': data_test['1. open'],
    'high': data_test['2. high'],
    'low': data_test['3. low'],
    'close': data_test['4. close'],
    'volumn': data_test['5. volume']
})
df1['timestamp'] = pd.to_datetime(df1['timestamp'], unit='ms')
df1 = df1.iloc[::-1] 
df1.reset_index(drop=True, inplace=True)
df1.ta.strategy(rsi_o2)
df1.tail()

,timestamp,open,high,low,close,volumn,EMA_200,RSI_14
989,2021-12-27 04:45:00,1.1309,1.1311,1.1305,1.1310,0.0,1.131900,39.154677
990,2021-12-27 05:00:00,1.1310,1.1312,1.1304,1.1308,0.0,1.131889,36.915771
991,2021-12-27 05:15:00,1.1308,1.1319,1.1305,1.1315,0.0,1.131885,48.101403
992,2021-12-27 05:30:00,1.1316,1.1319,1.1313,1.1318,0.0,1.131885,52.027325
993,2021-12-27 05:45:00,1.1318,1.1320,1.1317,1.1319,0.0,1.131885,53.295582

In [66]:
# notifyMsg('hello')

{"status":200,"message":"ok"}

In [5]:
df = pd.DataFrame()
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods